
@using IgniteUI.Blazor.Controls
;

<div class="container vertical">

    <div class="container vertical">

        @if (Data != null)
        {
            <div style="overflow: hidden">
                <IgbDataGrid Height="100%" Width="100%"
                      DataSource="Data"
                      AutoGenerateColumns="false"
                      IsGroupCollapsable="true"
                      IsGroupByAreaVisible="true">
                    <IgbTextColumn Field="Name" Width="@("*>120")" />
                    <IgbNumericColumn Field="Age" Width="@("*>110")" />
                    <IgbDateTimeColumn Field="Birthday" HorizontalAlignment="CellContentHorizontalAlignment.Center" Width="@("*>160")"/>
                    <IgbTextColumn IsEditable="false" Field="Country" HeaderText="Country" Width="@("*>160")"
                                    PaddingTop="5" PaddingBottom="5" ContentOpacity="1" HorizontalAlignment="CellContentHorizontalAlignment.Center"/>
                    <IgbTextColumn Field="Street" />
                    <IgbNumericColumn Field="Salary" HeaderText="Salary" Width="@("*>130")"
                                    PositivePrefix="$" ShowGroupingSeparator="true"/>
                    <IgbTextColumn Field="City" />
                    <IgbNumericColumn Field="Salary" PositivePrefix="$" ShowGroupingSeparator="true" MaxFractionDigits="0" MinFractionDigits="0" />
                </IgbDataGrid>
            </div>
        }
    </div>
</div>

@code {

    private List<Employee> Data;

    protected override void OnInitialized()
    {
        this.Data = EmployeeData.Create(200, false);
    }

}
