@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor;
@inject IJSRuntime JSRuntime;

<div class="container vertical">
    <div class="options horizotnal">
        <span class="options-item">Column Moving Mode:</span>
        <select class="options-item" @bind="@GridColumnMovingMode">
            <option>@ColumnMovingMode.Deferred</option>
            <option>@ColumnMovingMode.None</option>
        </select>
        <span class="options-item">Separator Width: </span>
        <input class="options-slider" @bind="@GridColumnMovingSeparatorWidth"
               type="range" min=1 max=5 step="1" />
    </div>
    <div class="options horizotnal">
        <span class="options-item" >Column Moving Animation:</span>
        <select class="options-item" @bind="@GridColumnMovingAnimationMode" >
            <option>@ColumnMovingAnimationMode.Auto</option>
            <option>@ColumnMovingAnimationMode.SlideOver</option>
            <option>@ColumnMovingAnimationMode.None</option>
        </select>
    </div>

    <div class="container vertical">
        @if (Data != null)
        {
            <IgbDataGrid Height="100%" Width="100%"
                      ColumnMovingMode="@GridColumnMovingMode"
                      ColumnMovingAnimationMode="@GridColumnMovingAnimationMode"
                      ColumnMovingSeparatorWidth="@GridColumnMovingSeparatorWidth"
                      DefaultColumnMinWidth="100"
                      AutoGenerateColumns="false"
                      DataSource="Data"
                      IsColumnOptionsEnabled="true">
                <IgbTextColumn Field="Name" Width="@("*>170")" />
                <IgbTextColumn Field="Street" HeaderText="Address" Width="@("*>150")"/>
                <IgbTextColumn Field="City" Width="@("*>120")"/>
                <IgbNumericColumn Field="Salary" PositivePrefix="$" ShowGroupingSeparator="true" Width="@("*>120")"/>
                <IgbDateTimeColumn Field="Birthday" Width="@("*>170")"/>
            </IgbDataGrid>
        }
    </div>
</div>

@code {

    private List<Employee> Data;

    private ColumnMovingMode GridColumnMovingMode = ColumnMovingMode.Deferred;
    private ColumnMovingAnimationMode GridColumnMovingAnimationMode = ColumnMovingAnimationMode.SlideOver;
    private int GridColumnMovingSeparatorWidth = 1;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        IgbDataGridModule.Register(IgniteUIBlazor);

        this.Data = EmployeeData.Create(100, false);
    }
}
