@using IgniteUI.Blazor.Controls


<div class="container vertical">
    <style>
        igc-list-header {
            font-size: 1.25rem;
            font-weight: 700;
            color: #3f51b5;
        }

        igc-list-item::part(title) {
            font-size: 1.125rem;
            color: #3f51b5;
        }

        igc-list-item::part(subtitle) {
            color: #0099ff;
        }

        igc-list-item::part(end) {
            --igc-secondary-500: 230,48%,47%;
        }
    </style>

    <IgbList>
        <IgbListHeader>Contacts</IgbListHeader>
        <IgbListItem>
            <IgbAvatar slot="start" src="https://static.infragistics.com/xplatform/images/avatars/8.jpg" Shape="@AvatarShape.Circle" />
            <span slot="title">Terrance Orta</span>
            <span slot="subtitle">770-504-2217</span>
            <IgbButton slot="end" Variant="@ButtonVariant.Contained">Text</IgbButton>
            <IgbButton slot="end" Variant="@ButtonVariant.Contained">Call</IgbButton>
        </IgbListItem>
        <IgbListItem>
            <IgbAvatar slot="start" src="https://static.infragistics.com/xplatform/images/avatars/17.jpg" Shape="@AvatarShape.Circle"/>
            <span slot="title">Richard Mahoney</span>
            <span slot="subtitle">423-676-2869</span>
            <IgbButton slot="end" Variant="@ButtonVariant.Contained">Text</IgbButton>
            <IgbButton slot="end" Variant="@ButtonVariant.Contained">Call</IgbButton>
        </IgbListItem>
        <IgbListItem>
            <IgbAvatar slot="start" src="https://static.infragistics.com/xplatform/images/avatars/9.jpg" Shape="@AvatarShape.Circle"/>
            <span slot="title">Donna Price</span>
            <span slot="subtitle">859-496-2817</span>
            <IgbButton slot="end" Variant="@ButtonVariant.Contained">Text</IgbButton>
            <IgbButton slot="end" Variant="@ButtonVariant.Contained">Call</IgbButton>
        </IgbListItem>
    </IgbList>
</div>

@code {

}