@page "/samples/grids/grid-lite/filtering-config"
@page "/samples/grids/grid-lite-filtering-config"
@page         "/grids/grid-lite/filtering-config"
@page         "/grids/grid-lite-filtering-config"

@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using IgniteUI.Blazor.Controls

<div class="container">

    @if (users != null)
    {
        <IgbGridLite TItem="User"
                     Data="@users"
                     class="grid-lite-sample">
            <IgbGridLiteColumn Field="@nameof(User.FirstName)" Header="First name" Filterable FilteringCaseSensitive />
            <IgbGridLiteColumn Field="@nameof(User.LastName)" Header="Last name" Filterable />
            <IgbGridLiteColumn Field="@nameof(User.Age)" Header="Age" DataType="GridLiteColumnDataType.Number" Filterable />
            <IgbGridLiteColumn Field="@nameof(User.Active)" Header="Active" DataType="GridLiteColumnDataType.Boolean" Filterable />
        </IgbGridLite>
    }
</div>

@code {
    private List<User> users;

    protected override void OnInitialized()
    {
        // Generate 50 users
        users = MockDataGenerator.CreateUsers(50);
    }
}