@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor;
@inject IJSRuntime JSRuntime;

<div class="container vertical">
    <div class="options horizontal">
        <span class="options-item">Summary Scope:</span>
        <select class="options-item" @bind="GridSummaryScope">
            <option>@SummaryScope.Root</option>
            <option>@SummaryScope.Groups</option>
            <option>@SummaryScope.Both</option>
            <option>@SummaryScope.None</option>
        </select>
        <span class="options-item" >Group Summary Display Mode:</span>
        <select class="options-item" @bind="GridGroupSummaryDisplayMode">
            <option>@GroupSummaryDisplayMode.List</option>
            <option>@GroupSummaryDisplayMode.Cells</option>
            <option>@GroupSummaryDisplayMode.RowTop</option>
            <option>@GroupSummaryDisplayMode.RowBottom</option>
            <option>@GroupSummaryDisplayMode.None</option>
        </select>
    </div>
    <div class="container vertical">
        @if (Data != null)
        {
            <div style="overflow: hidden">
                <IgbDataGrid Height="100%" Width="100%"
                      @ref="@DataGridRef"
                      SummaryScope="@GridSummaryScope"
                      GroupSummaryDisplayMode="@GridGroupSummaryDisplayMode"
                      AutoGenerateColumns="false"
                      IsGroupCollapsable="true"
                      GroupHeaderDisplayMode="@GroupHeaderDisplayMode.Combined"
                      IsColumnOptionsEnabled="true"
                      DataSource="Data">
                    <IgbNumericColumn Field="ID" Width="@("*>120")" HeaderText="ID" HorizontalAlignment="@CellContentHorizontalAlignment.Center" />
                    <IgbTextColumn Field="ProductName" Width="@("*>130")" HeaderText="Product" />
                    <IgbNumericColumn Field="BundlePrice" PositivePrefix="$" Width="@("*>120")" ShowGroupingSeparator="true" HeaderText="Price" />
                    <IgbNumericColumn Field="OrderItems" Width="@("*>140")" HeaderText="Orders" />
                    <IgbNumericColumn Field="OrderValue" Width="@("*>160")" ShowGroupingSeparator="true" HeaderText="Order Totals" PositivePrefix="$" />
                    <IgbDateTimeColumn Field="OrderDate" Width="@("*>150")" HeaderText="Order Date" HorizontalAlignment="@CellContentHorizontalAlignment.Right" />
                    <IgbNumericColumn Field="Profit" Width="@("*>140")" ShowGroupingSeparator="true" HeaderText="Profit" PositivePrefix="$" />
                    <IgbTextColumn Field="Country" Width="@("*>170")" HeaderText="Ship Country" />
                </IgbDataGrid>
            </div>
        }
    </div>
</div>

@code {

    private List<Sale> Data;
    private SummaryScope GridSummaryScope;
    private GroupSummaryDisplayMode GridGroupSummaryDisplayMode;

    private IgbDataGrid _grid;
    private IgbDataGrid DataGridRef
    {
        get { return _grid; }
        set
        {
            _grid = value;
            this.OnDataGridRef();
            StateHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        IgbDataGridModule.Register(IgniteUIBlazor);
        IgbGridColumnOptionsModule.Register(IgniteUIBlazor);

        this.Data = SalesData.Create(50);

        this.GridSummaryScope = SummaryScope.Root;
        this.GridGroupSummaryDisplayMode = GroupSummaryDisplayMode.RowBottom;
    }

    private void OnDataGridRef()
    {
        var productGroup = new IgbColumnGroupDescription()
        {
            Field = "ProductName",
            DisplayName = "ProductName"
        };

        var productCount = new IgbColumnSummaryDescription()
        {
            Field = "ProductName",
            Operand = SummaryOperand.Count
        };

        var priceMin = new IgbColumnSummaryDescription()
        {
            Field = "BundlePrice",
            Operand = SummaryOperand.Min
        };

        var priceMax = new IgbColumnSummaryDescription()
        {
            Field = "BundlePrice",
            Operand = SummaryOperand.Max
        };

        var orderSum = new IgbColumnSummaryDescription()
        {
            Field = "OrderItems",
            Operand = SummaryOperand.Sum
        };

        var orderValueSum = new IgbColumnSummaryDescription()
        {
            Field = "OrderValue",
            Operand = SummaryOperand.Sum
        };

        var orderValueAvg = new IgbColumnSummaryDescription()
        {
            Field = "OrderValue",
            Operand = SummaryOperand.Average
        };

        var orderDateMin = new IgbColumnSummaryDescription()
        {
            Field = "OrderDate",
            Operand = SummaryOperand.Min,
            CalculatorDisplayName = "First"
        };

        var orderDateMax = new IgbColumnSummaryDescription()
        {
            Field = "OrderDate",
            Operand = SummaryOperand.Max,
            CalculatorDisplayName = "Last"
        };

        var sum1 = new IgbColumnSummaryDescription()
        {
            Field = "Profit",
            Operand = SummaryOperand.Sum
        };

        var avg2 = new IgbColumnSummaryDescription()
        {
            Field = "Profit",
            Operand = SummaryOperand.Average
        };

        //var countryCustomSummary = new IgbColumnSummaryDescription()
        //{
        //    Field = "Country",
        //    Operand = SummaryOperand.Custom,
        //    //ProvideCalculatorScript = "onProvideCalculator" // <= This seems like what needs to be done, but how do you specify the logic that the calculator uses?
        //};

        //TODO CUSTOM SUMMARY

        this.DataGridRef.GroupDescriptions.Add(productGroup);

        this.DataGridRef.SummaryDescriptions.Add(productCount);
        this.DataGridRef.SummaryDescriptions.Add(priceMin);
        this.DataGridRef.SummaryDescriptions.Add(priceMax);
        this.DataGridRef.SummaryDescriptions.Add(orderSum);
        this.DataGridRef.SummaryDescriptions.Add(orderValueSum);
        this.DataGridRef.SummaryDescriptions.Add(orderValueAvg);
        this.DataGridRef.SummaryDescriptions.Add(orderDateMin);
        this.DataGridRef.SummaryDescriptions.Add(orderDateMax);
        this.DataGridRef.SummaryDescriptions.Add(sum1);
        this.DataGridRef.SummaryDescriptions.Add(avg2);
        //this.DataGridRef.SummaryDescriptions.Add(countryCustomSummary);
    }
}
