@page "/samples/charts/category-chart-trendline"
@page         "/charts/category-chart-trendline"

@using Infragistics.Blazor.Controls
@inject IInfragisticsBlazor InfragisticsBlazor;

<div class="igContainer">
    <div class="igOptions">
        <span className="igOptions-label">Trend Line Type: </span>
        <select @bind="@ChartTrendline">
            <option>@TrendLineType.LinearFit</option>
            <option>@TrendLineType.QuadraticFit</option>
            <option>@TrendLineType.CubicFit</option>
            <option>@TrendLineType.QuarticFit</option>
            <option>@TrendLineType.QuinticFit</option>
            <option>@TrendLineType.LogarithmicFit</option>
            <option>@TrendLineType.ExponentialFit</option>
            <option>@TrendLineType.PowerLawFit</option>
            <option>@TrendLineType.SimpleAverage</option>
            <option>@TrendLineType.ExponentialAverage</option>
            <option>@TrendLineType.ModifiedAverage</option>
            <option>@TrendLineType.CumulativeAverage</option>
            <option>@TrendLineType.WeightedAverage</option>
            <option>@TrendLineType.None</option>
        </select>
    </div>
    <div class="igComponent">      
        @if (DataSource != null)
        {
            <CategoryChart Height="100%" Width="100%"
                           DataSource="@DataSource"
                           ChartType="CategoryChartType.Point"
                           ChartTitle="Average Temperature over 2000 Years"
                           TrendLineType="@ChartTrendline"
                           TrendLineThickness="2"
                           TrendLinePeriod="20"
                           YAxisMinimumValue="0"
                           YAxisTitle="Temperature (C)"
                           XAxisTitle="Years"
                           IncludedProperties="@IncludedProps"
                           ExcludedProperties="@ExcludedProps">
            </CategoryChart>
        }
    </div>
</div>

@code {

    private List<DataChartSharedData.Temperature> DataSource;

    private string[] IncludedProps = new string[] { "Value", "Label" };
    private string[] ExcludedProps = new string[] { "High", "Low" };

    private TrendLineType ChartTrendline = TrendLineType.LinearFit;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        CategoryChartModule.Register(InfragisticsBlazor);

        this.DataSource = DataChartSharedData.getTemperatures(30, 0, 2000);
    }    
}

