@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor;
@inject IJSRuntime JSRuntime;

<div class="container vertical">
    <div class="options horizontal">
        <button @onclick="OnSelectAllRowsClick">Select All Rows</button>
        <button @onclick="OnDeselectAllRowsClick" >Deselect All Rows</button>
    </div>
    <div class="container vertical">
        @if (Data != null)
        {
            <div style="overflow: hidden">
                <IgbDataGrid Height="100%" Width="100%"
                      @ref="DataGridRef"
                      DefaultColumnMinWidth="100"
                      AutoGenerateColumns="false"
                      DataSource="Data"
                      SelectionMode="GridSelectionMode.MultipleRow"
                      IsColumnOptionsEnabled="true">
                    <IgbTextColumn Field="Name" Width="@("*>150")" />
                    <IgbTextColumn Field="Street" HeaderText="Street" Width="@("*>160")"/>
                    <IgbTextColumn Field="City" HeaderText="City" Width="@("*>120")"/>
                    <IgbNumericColumn Field="Salary" HeaderText="Salary" PositivePrefix="$" ShowGroupingSeparator="true" Width="@("*>120")"/>
                    <IgbImageColumn IsEditable="false" Field="Photo" HeaderText="Photo" ContentOpacity="1" HorizontalAlignment="@CellContentHorizontalAlignment.Center" Width="@("*>110")"/>
                    <IgbDateTimeColumn Field="Birthday" HeaderText="Date of Birth" Width="@("*>170")"/>
                </IgbDataGrid>
            </div>
        }
    </div>
</div>

@code {

    private IgbDataGrid DataGridRef;
    private List<Employee> Data;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        IgbDataGridModule.Register(IgniteUIBlazor);
        Data = EmployeeData.Create(100, false);
    }

    private void OnSelectAllRowsClick(MouseEventArgs e)
    {
        this.DataGridRef.SelectAllRows();
    }

    private void OnDeselectAllRowsClick(MouseEventArgs e)
    {
        this.DataGridRef.DeselectAllRows();
    }
}
