@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

    <div class="igContainer">
        <div class="igOptions">
            <div class="igOptions-horizontal">
                <button @onclick="onClickSliceVer" style="width: 150px">Slice Vertically</button>
                <button @onclick="onClickStripVer" style="width: 175px">Stripped Vertically</button>
                <button @onclick="onClickSquarified" style="width: 125px">Squarified</button>
            </div>
            <div class="igOptions-horizontal">
                <button @onclick="onClickSliceHor" style="width: 150px">Slice Horizontally</button>
                <button @onclick="onClickStripHor" style="width: 175px">Stripped Horizontally</button>
                @*this label displays info about currently selected item in Treemap*@
                <label>@SelectedItemInfo</label>
            </div>
        </div>

        <div class="igComponent">

            <Treemap Height="100%" Width="100%"
                     DataSource="@Data"
                     ParentIdMemberPath="Parent"
                     IdMemberPath="Name"
                     LabelMemberPath="Name"
                     ValueMemberPath="Pop"
                     LayoutType="@TreeLayout"
                     LayoutOrientation="@TreeOrientation"
                     FillBrushes="#4e62cf, #8a58d6"
                     IsFillScaleLogarithmic="true"
                     NodePointerEnter="@onNodePointerEnter"
                     RootTitle="Countries">
            </Treemap>
            @**@
        </div>
    </div>

@code {

    protected List<CountryInfo> Data;
    protected TreemapLayoutType TreeLayout = TreemapLayoutType.Squarified;
    protected TreemapOrientation TreeOrientation = TreemapOrientation.Vertical;
    protected string SelectedItemInfo = "Select Tree Node";

    protected override void OnInitialized()
    {
        TreemapModule.Register(IgniteUIBlazor);

        this.Data = CountryTreeData.Create();

        Console.WriteLine("CountryTreeData " + this.Data.Count);
    }

    // handling NodePointerEnter action
    private void onNodePointerEnter(TreemapNodePointerEventArgs arg)
    {
        var item = arg.Item as CountryInfo;
        if (item == null) return;

        if (item.Parent == null)
        {
            this.SelectedItemInfo = "" + item.Name;
        }
        else
        {
            var population = (item.Pop / 1000000).ToString("0M people");
            this.SelectedItemInfo = "" + item.Name + ": " + population;
        }
        this.StateHasChanged();
    }

    private void onClickSquarified()
    {
        TreeLayout = TreemapLayoutType.Squarified;
    }

    private void onClickSliceVer()
    {
        TreeLayout = TreemapLayoutType.SliceAndDice;
        TreeOrientation = TreemapOrientation.Vertical;
    }

    private void onClickSliceHor()
    {
        TreeLayout = TreemapLayoutType.SliceAndDice;
        TreeOrientation = TreemapOrientation.Horizontal;
    }

    private void onClickStripVer()
    {
        TreeLayout = TreemapLayoutType.Stripped;
        TreeOrientation = TreemapOrientation.Vertical;
    }

    private void onClickStripHor()
    {
        TreeLayout = TreemapLayoutType.Stripped;
        TreeOrientation = TreemapOrientation.Horizontal;
    }
}
