@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor;

<div class="container vertical">

    <div class="container vertical">

        @if (Data != null)
        {
            <div style="overflow: hidden">
                <DataGrid Height="100%" Width="100%"
                        DefaultColumnMinWidth="120"
                        DataSource="Data"
                        AutoGenerateColumns="false">
                            <TextColumn Field="ID" Width="@("*>110")" />
                            <TextColumn Field="FirstName" Width="@("*>190")" />
                            <TextColumn Field="LastName" Width="@("*>190")" />
                            <DateTimeColumn Field="Birthday" Width="@("*>170")" />
                            <NumericColumn Field="Age" Width="@("*>120")" />
                            <ImageColumn IsEditable="false" Field="CountryFlag" />
                            <TextColumn Field="Street" Width="@("*>160")" />
                            <TextColumn Field="City" Width="260" />
                            <TextColumn Field="Country" Width="@("*>170")" />
                            <NumericColumn Field="Salary" Width="@("*>170")" />
                            <NumericColumn Field="Sales" Width="@("*>120")" />
                            <NumericColumn Field="Salary" Width="@("*>120")" PositivePrefix="$"
                                        ShowGroupingSeparator="true"
                                        MaxFractionDigits="0"
                                        MinFractionDigits="0" />
                </DataGrid>
            </div>
        }

    </div>
</div>

@code {

    private List<Employee> Data;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        DataGridModule.Register(IgniteUIBlazor);

        this.Data = EmployeeData.Create(200, false);

    }

}
