@using IgniteUI.Blazor.Controls
;

<div class="container vertical">

    <div class="container vertical">

        @if (Data != null)
        {
            <div style="overflow: hidden">
                <IgbDataGrid Height="100%" Width="100%"
                      DefaultColumnMinWidth="120"
                      DataSource="Data"
                      AutoGenerateColumns="false">
                        <IgbTextColumn Field="ID" Width="@("*>110")" />
                        <IgbTextColumn Field="FirstName" Width="@("*>190")" />
                        <IgbTextColumn Field="LastName" Width="@("*>190")" />
                        <IgbDateTimeColumn Field="Birthday" Width="@("*>170")" />
                        <IgbNumericColumn Field="Age" Width="@("*>120")" />
                        <IgbImageColumn IsEditable="false" Field="CountryFlag" />
                        <IgbTextColumn Field="Street" Width="@("*>160")" />
                        <IgbTextColumn Field="City" Width="260" />
                        <IgbTextColumn Field="Country" Width="@("*>170")" />
                        <IgbNumericColumn Field="Salary" Width="@("*>170")" />
                        <IgbNumericColumn Field="Sales" Width="@("*>120")" />
                        <IgbNumericColumn Field="Salary" Width="@("*>120")" PositivePrefix="$"
                                       ShowGroupingSeparator="true"
                                       MaxFractionDigits="0"
                                       MinFractionDigits="0" />
                </IgbDataGrid>
            </div>
        }

    </div>
</div>

@code {

    private List<Employee> Data;

    protected override void OnInitialized()
    {
        this.Data = EmployeeData.Create(200, false);

    }

}
