@using Infragistics.Samples.Shared.Components
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor;

<div class="container vertical">

    <div class="options horizontal">
        <div class="options vertical" style="width: auto">

            <Toggle OnClick="onLiveSomePricesClicked" Width="150px" Background="@liveSomePricesBackground">@liveSomePricesText</Toggle>
            <Toggle OnClick="onLiveAllPricesClicked"  Width="150px" Background="@liveAllPricesBackground" >@liveAllPricesText</Toggle>
        </div>

        <div class="options vertical" style="width: auto">
            <IgniteUI.Blazor.Controls.Switch OnToggle="onToggleGrouping">Grouping</IgniteUI.Blazor.Controls.Switch>
            <IgniteUI.Blazor.Controls.Switch OnToggle="onToggleHeat">Heat</IgniteUI.Blazor.Controls.Switch>
        </div>
    </div>

    <div class="container vertical">

        @if (Data != null)
        {
            <DataGrid Height="calc(100% - 1rem)" Width="100%" @ref="DataGridRef"
                      DataSource="Data"
                      AutoGenerateColumns="false"
                      SelectionMode="@GridSelectionMode.MultipleRow"
                      IsGroupCollapsable="true"
                      RowHeight="32"
                      HeaderClickAction="@HeaderClickAction.SortByMultipleColumnsTriState"
                      ActivationMode="GridActivationMode.Cell"
                      DefaultColumnMinWidth="100"
                      IsRowHoverEnabled="false">

                <TextColumn Width="@("*>140")" Field="ID" IsHidden="true" />
                <TextColumn Width="@("*>120")" Field="Category" />
                <TextColumn Width="@("*>110")" Field="Type" />
                <TextColumn Width="@("*>110")" Field="Risk" />

                <NumericColumn Width="@("*>120")" Field="Open" HeaderText="Open" ShowGroupingSeparator="true" PositivePrefix="$" MinFractionDigits="2" MaxFractionDigits="2" />
                <TemplateColumn Width="@("*>120")" Field="Price"
                    CellStyleKeyRequestedScript="onPriceStyleKey"
                    CellUpdatingScript="onPriceCellUpdating"
                    DataBoundScript="onPriceDataBound"
                    HeaderText="Close" />
                <NumericColumn Width="@("*>120")" Field="Change" HeaderText="Change ($)" MinFractionDigits="2" MaxFractionDigits="2" />
                <NumericColumn Width="@("*>180")" Field="ChangePercent" HeaderText="Change (%)" NegativeSuffix="%" PositiveSuffix="%" MinFractionDigits="2" MaxFractionDigits="2" />

                <TextColumn Width="@("*>120")" Field="Contract" />
                <TextColumn Width="@("*>130")" Field="Settlement" />
                <TextColumn Width="@("*>130")" Field="Region" />
                <TextColumn Width="@("*>120")" Field="Country" />

                <NumericColumn Width="@("*>110")" Field="Buy" ShowGroupingSeparator="true" PositivePrefix="$" MinFractionDigits="2" MaxFractionDigits="2" />
                <NumericColumn Width="@("*>110")" Field="Sell" ShowGroupingSeparator="true" PositivePrefix="$" MinFractionDigits="2" MaxFractionDigits="2" />
                <NumericColumn Width="@("*>130")" Field="Spread" ShowGroupingSeparator="true" MinFractionDigits="2" MaxFractionDigits="2" />
                <NumericColumn Width="@("*>130")" Field="Volume" ShowGroupingSeparator="true" MinFractionDigits="0" MaxFractionDigits="0" />
                <NumericColumn Width="@("*>130")" Field="DailyHigh" ShowGroupingSeparator="true" MinFractionDigits="2" MaxFractionDigits="2" PositivePrefix="$" />
                <NumericColumn Width="@("*>130")" Field="DailyLow" ShowGroupingSeparator="true" MinFractionDigits="2" MaxFractionDigits="2" PositivePrefix="$" />
                <NumericColumn Width="@("*>130")" Field="YearlyHigh" ShowGroupingSeparator="true" MinFractionDigits="2" MaxFractionDigits="2" PositivePrefix="$" />
                <NumericColumn Width="@("*>130")" Field="YearlyLow" ShowGroupingSeparator="true" MinFractionDigits="2" MaxFractionDigits="2" PositivePrefix="$" />
                <NumericColumn Width="@("*>130")" Field="YearlyStart" ShowGroupingSeparator="true" MinFractionDigits="2" MaxFractionDigits="2" PositivePrefix="$" />

                <DateTimeColumn Width="@("*>140")" Field="Maturity" HorizontalAlignment="@CellContentHorizontalAlignment.Right" />
                <TextColumn Width="@("*>120")" Field="Currency" />
                <TextColumn Width="@("*>130")" Field="Sector" />
                <TextColumn Width="@("*>130")" Field="Security" />
                <TextColumn Width="@("*>170")" Field="Issuer" />

            </DataGrid>
        }


    </div>
</div>

@code {

    public List<PortfolioInfo> Data;

    public DateTime lastUpdateTime = new DateTime();
    public int frequency = 1000; // 15
    public int DataVolume = 500;
    public bool isTimerTicking = false;
    public bool isUpdatingAllPrices = false;
    public bool isUpdatingSomePrices = false;

    public string liveSomePricesBackground = "#5E28E9";
    public string liveAllPricesBackground = "#EF2B76";

    public string liveAllPricesText = "Live All Prices";
    public string liveSomePricesText = "Live Prices";

    public bool liveSomePricesDisabled = false;
    public bool liveAllPricesDisabled = false;

    public bool canvasChecked = false;
    public bool chartOpen = false;
    public bool UseRowGrouping = true;
    public bool UseHeatBackground = true;
    public string[] hiddenColumns;
    public string[] allColumns;

    private DataGrid grid;
    public DataGrid DataGridRef
    {
        get { return grid; }
        set { grid = value; StateHasChanged(); this.onGridGroupingAdd(); }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        DataGridModule.Register(IgniteUIBlazor);

        this.Data = PortfolioData.Create(this.DataVolume);
    }

    private void onLiveAllPricesClicked(object sender)
    {
        if (this.liveAllPricesDisabled) return;

        Console.WriteLine(">>> onLiveAllPricesClicked");
        this.isUpdatingAllPrices = !this.isUpdatingAllPrices;
        this.isUpdatingSomePrices = false;

        if (this.isTimerTicking)
        {
            this.isTimerTicking = false;
            this.liveAllPricesText = "Live All Prices";
            this.liveAllPricesDisabled = false;
            this.liveSomePricesDisabled = false;
        }
        else
        {
            this.startTicking();
            this.liveAllPricesText = "Stop All Prices";
            this.liveAllPricesDisabled = false;
            this.liveSomePricesDisabled = true;
        }

        this.liveSomePricesBackground = liveSomePricesDisabled ? "gray" : "#5E28E9";
        this.liveAllPricesBackground = liveAllPricesDisabled ? "gray" : "#EF2B76";
    }

    private void onLiveSomePricesClicked(object sender)
    {
        if (this.liveSomePricesDisabled) return;

        Console.WriteLine(">>> onLiveSomePricesClicked");
        this.isUpdatingAllPrices = false;
        this.isUpdatingSomePrices = !this.isUpdatingSomePrices;

        if (this.isTimerTicking)
        {
            this.isTimerTicking = false;
            this.liveSomePricesText = "Live Prices";
            this.liveSomePricesDisabled = false;
            this.liveAllPricesDisabled = false;
        }
        else
        {
            this.startTicking();
            this.liveSomePricesText = "Stop Prices";
            this.liveSomePricesDisabled = false;
            this.liveAllPricesDisabled = true;
        }

        this.liveSomePricesBackground = liveSomePricesDisabled ? "gray" : "#5E28E9";
        this.liveAllPricesBackground = liveAllPricesDisabled ? "gray" : "#EF2B76";
    }

    public void stopTicking()
    {
        Console.WriteLine(">>> stopTicking");
        if (this.isTimerTicking)
        {
            this.isTimerTicking = false;
        }
    }

    public void startTicking()
    {
        Console.WriteLine(">>> startTicking");
        if (!this.isTimerTicking)
        {
            this.isTimerTicking = true;
            //Task.Delay(16).ContinueWith((t) => onTimerTick());
            Task.Delay(this.frequency).ContinueWith((t) => onTimerTick());
        }
    }

    public static Random random = new Random();
    public void onTimerTick()
    {
        //Console.WriteLine(">>> onTimerTick");
        if (!this.isTimerTicking)
        {
            return;
        }
        if (this.grid == null)
        {
            //Task.Delay(16).ContinueWith((t) => onTimerTick());
            Task.Delay(this.frequency).ContinueWith((t) => onTimerTick());
            return;
        }

        var stillAnimating = false;

        var useClear = this.isUpdatingAllPrices;
        var updateAll = this.isUpdatingAllPrices;

        var toChangeIndexes = new List<bool>();
        foreach (var item in this.Data)
        {
            toChangeIndexes.Add(false);
            if (!this.UseHeatBackground)
            {
                item.PriceHeat = 0;
            }
            else if (item.PriceHeat != 0)
            {
                stillAnimating = true;
            }
        }

        var toChange = (int)Math.Round(this.DataVolume / 10.0);
        if (updateAll)
        {
            toChange = this.Data.Count;
        }
        else
        {
            toChange = (int)(random.Next(2, this.Data.Count - 1));
        }
        //Console.WriteLine(">>> onTimerTick toChange " + toChange);

        var sortingByPrice = false;
        for (var i = 0; i < this.grid.SortDescriptions.Count; i++)
        {
            if (this.grid.SortDescriptions[i].Field == "Price" ||
                this.grid.SortDescriptions[i].Field.Contains("Change"))
            {
                sortingByPrice = true;
            }
        }

        var changing = false;
        var toChangeCount = 0;

        var now = DateTime.Now;
        var elapsedTime = now.Subtract(this.lastUpdateTime);
        var elapsedInterval = elapsedTime.TotalMilliseconds > this.frequency;
        if (elapsedInterval)
        {
            //Console.WriteLine(">>> onTimerTick elapsedInterval " + elapsedTime);

            this.lastUpdateTime = DateTime.Now;
            for (var i = 0; i < toChange; i++)
            {
                var index = (int)(random.Next(0, this.Data.Count - 1));
                //while (toChangeIndexes[index] != true)
                //{
                //    index = (int)Math.Round(random.NextDouble() * this.Data.Count - 1);
                //}
                //Console.WriteLine(">>> onTimerTick toChangeIndexes " + index);

                toChangeIndexes[index] = true;
                toChangeCount++;
                changing = true;

            }
            //Console.WriteLine(">>> onTimerTick toChangeIndexes " + toChangeCount);
        }

        for (var i = 0; i < this.Data.Count; i++)
        {
            var item = this.Data[i];
            if (toChangeIndexes[i] == true)
            {
                if (sortingByPrice && !useClear)
                {
                    //Console.WriteLine(">>> onTimerTick NotifyInsertItem");

                    this.grid.NotifyRemoveItem(this.Data, i, item);
                    PortfolioData.RandomizeDataValues(item);
                    this.grid.NotifyInsertItem(this.Data, i, item);
                }
                else
                {
                    PortfolioData.RandomizeDataValues(item);
                    this.grid.NotifyUpdateItem(this.Data, i, item, true);
                }

                if (this.UseHeatBackground)
                {
                    if (item.Change > 0)
                    {
                        item.PriceHeat = 1;
                    }
                    else
                    {
                        item.PriceHeat = -1;
                    }
                }
            }
            else
            {
                if (this.UseHeatBackground)
                {
                    if (item.PriceHeat > 0)
                    {
                        item.PriceHeat -= .06;
                        if (item.PriceHeat < 0)
                        {
                            item.PriceHeat = 0;
                        }
                    }
                    if (item.PriceHeat < 0)
                    {
                        item.PriceHeat += .06;
                        if (item.PriceHeat > 0)
                        {
                            item.PriceHeat = 0;
                        }
                    }
                }
            }
        }

        if (sortingByPrice && useClear && elapsedInterval)
        {
            this.grid.NotifyClearItems(Data);
        }
        else if (useClear)
        {
            this.grid.NotifyClearItems(Data);
        }

        if (!sortingByPrice || !elapsedInterval)
        {
            this.grid.InvalidateVisibleRows();
        }
        // }
        // this.grid.invalidateVisibleRows();

        if (elapsedInterval && this.chartOpen)
        {
            //this.updatePricesByCountry();
            //this.chart.NotifyClearItems(this.pricesByCountry);
        }

        Task.Delay(this.frequency).ContinueWith((t) => onTimerTick());
    }

    private void onToggleHeat(bool isCheched)
    {
        Console.WriteLine(">>> onToggleHeat " + isCheched);
        this.UseHeatBackground = isCheched;
        this.grid.Flush();
    }

    private void onToggleGrouping(bool isCheched)
    {
        Console.WriteLine(">>> onToggleGrouping " + isCheched);

        this.UseRowGrouping = isCheched;
        if (this.UseRowGrouping)
            this.onGridGroupingAdd();
        else
            this.onGridGroupingRemove();
    }

    private void onGridGroupingRemove()
    {
        this.grid.GroupDescriptions.Clear();
        this.grid.Flush();
    }

    private void onGridGroupingAdd()
    {
        var g = new ColumnGroupDescription();
        g.Field = "Category";
        g.SortDirection = ListSortDirection.Descending;
        this.grid.GroupDescriptions.Add(g);

        g = new ColumnGroupDescription();
        g.Field = "Type";
        g.SortDirection = ListSortDirection.Descending;
        this.grid.GroupDescriptions.Add(g);

        g = new ColumnGroupDescription();
        g.Field = "Contract";
        g.SortDirection = ListSortDirection.Descending;
        this.grid.GroupDescriptions.Add(g);
    }
}


@*<Button BackgroundColor="green" DisplayType="@ButtonDisplayStyle.Fab"> </Button>
    <Button BackgroundColor="#FF418A" DisplayType="@ButtonDisplayStyle.Flat"> </Button>
    <Checkbox Checked="true">Checkbox </Checkbox>*@
