@page "/FinancialChartTooltipTypes"
@* this namespace is required for Infragistics controls *@
@using Infragistics.Blazor.Controls

@inject IInfragisticsBlazor InfragisticsBlazor;
@inject IJSRuntime JSRuntime;

<div class="igContainer">
    <div class="igOptions">
        <label class="igOptions-label">Tooltip Type: </label>
        <select @bind="@TooltipType">
            <option>@ToolTipType.Item</option>
            <option>@ToolTipType.Category</option>
            <option>@ToolTipType.Default</option>
            <option>@ToolTipType.None</option>
        </select>
    </div>

    <div class="igComponent">

        @if (DataSource != null)
        {
            <FinancialChart Width="100%"
                Height="100%"
                ChartType=FinancialChartType.Line
                Thickness=2
                YAxisMode="FinancialChartYAxisMode.PercentChange"
                DataSource="DataSource"
                ZoomSliderType="FinancialChartZoomSliderType.None"
                ToolTipType="@TooltipType"/>
        }

    </div>
</div>

@code {

    List<StockItem[]> DataSource;
    public ToolTipType TooltipType { get; set; } = ToolTipType.Item;

    protected override async Task OnInitializedAsync()
    {
        FinancialChartModule.Register(InfragisticsBlazor);
        this.DataSource = await StocksHistory.GetMultipleStocks();
    }
}
