
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor;

<div class="container vertical">

    <div class="container vertical">

        @if (Data != null)
        {
            <IgbDataGrid @ref="@DataGridRef" Height="100%" Width="100%"
                      DataSource="Data"
                      AutoGenerateColumns="false"
                      ActivationMode="GridActivationMode.Cell">
                <IgbImageColumn IsEditable="false" Field="Photo" Width="@("*>140")" ContentOpacity="1" HorizontalAlignment="CellContentHorizontalAlignment.Center"/>
                <IgbTextColumn Field="FirstName" HeaderText="First Name" Width="@("*>150")" />
                <IgbTextColumn Field="LastName" HeaderText="Last Name" Width="@("*>140")"  />
                <IgbTextColumn Field="City" Width="@("*>120")" />
                <IgbTextColumn Field="Country" Width="@("*>150")" />
                <IgbNumericColumn Field="Sales" Width="@("*>140")" PositivePrefix="$" ShowGroupingSeparator="true" />
                <IgbNumericColumn Field="Age" Width="@("*>110")" />
                <IgbDateTimeColumn Field="Birthday" Width="@("*>170")" HorizontalAlignment="CellContentHorizontalAlignment.Right" />
                <IgbNumericColumn Field="Salary" Width="@("*>130")" PositivePrefix="$" ShowGroupingSeparator="true" />
                <IgbTextColumn Field="Email" HeaderText="Email" Width="@("*>150")" />
            </IgbDataGrid>
        }

    </div>
</div>

@code {

    private List<Employee> Data;
    private IgbDataGrid grid;
    public IgbDataGrid DataGridRef
    {
        get
        {
            return grid;
        }
        set
        {
            grid = value;
            OnGridChanged();
            StateHasChanged();
        }
    }


    protected override void OnInitialized()
    {
        base.OnInitialized();

        IgbDataGridModule.Register(IgniteUIBlazor);
        this.Data = EmployeeData.Create(200, false);
    }

    private void OnGridChanged()
    {
        grid.PinnedItems.Add(this.Data[2] as Employee);
        grid.PinnedItems.Add(this.Data[4] as Employee);
    }

}
