@using Microsoft.AspNetCore.Components.Routing
@using Infragistics.Samples.Core
@using System.Net.Http
@using System.Net.Http.Json

@inject HttpClient Http
@inject NavigationManager NavManager
@inject Infragistics.Samples.Core.SampleBrowser SB

<div class="sb-sidebar-header">
    <img src="_content/Infragistics.Samples.Core/images/ignite.svg" />
    <span>@SB.AppName</span>
</div>

<div class="sb-sidebar-list">

    @if (SB.IsLoading)
    {
        @*<p><em>Loading...</em></p>*@
        @*<img class="sb-progress" src="_content/Infragistics.Samples.Core/images/progress.gif" />*@
    }
    else
    {
        <NavLink class="sb-sidebar-home" href=@SB.AppHomeUri Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span>Home
        </NavLink>

        @foreach (var group in SB.TOC.Groups)
        {
            <span class="sb-sidebar-group">
                @* <span class="oi oi-list-rich" aria-hidden="true"></span> *@
                @group.Name
            </span>

            @foreach (var comp in group.Components)
            {
                <div class="sb-sidebar-control" @onclick="@(e => OnClickComponent(comp.Name))">
                    <span class="oi oi-list-rich" aria-hidden="true"></span>
                    <div>@comp.Name</div>
                </div>

                @if (comp.IsExpanded)
                {
                    @foreach (var sample in comp.Samples)
                    {
                        @if (sample.ShowLink)
                        {
                            <NavLink class="sb-sidebar-link" href=@sample.Route Match="NavLinkMatch.All">
                                <span class="oi oi-media-play" aria-hidden="true"></span>
                                <div>@sample.Name</div>
                            </NavLink>    
                        }
                    }
                }
            }

        }

    }
</div>

@code {

    public void OnClickComponent(string name)
    {
        SB.ToggleComponent(name);
    }

    protected override async Task OnInitializedAsync()
    {
        //Console.WriteLine("SB.NAV Menu");
        //Console.WriteLine("SB.NAV Menu " + NavManager.BaseUri);
        //var toc = await Http.GetAsync<TOC>("toc.json");
        //var client = new HttpClient();
        //var response = await client.GetAsync("toc.json");
        //// response.EnsureSuccessStatusCode();
        //TOC toc = null;
        //if (response != null)
        //{
        //    var jsonString = await response.Content.ReadAsStringAsync();
        //    //toc = JsonConvert.DeserializeObject<TOC>(jsonString);
        //}
        try
        {
            var toc = await Http.GetFromJsonAsync<TOC>("toc.json");
            await SB.Load(toc);
            //Console.WriteLine("SB.NAV toc");
            //System.Diagnostics.Debug.WriteLine("SB.NAV toc.json found: " + toc.Groups.Length + " groups");
        }
        catch (Exception ex)
        {
            Console.WriteLine("SB.NAV toc.json - error: \n" + ex.ToString());
        }

        // Console.WriteLine("SB.NAV loaded");

        SB.SamplesLoaded += OnSamplesLoaded;
        await Task.Delay(1);
    }

    public void OnSamplesLoaded(object sender, EventArgs arg)
    {
        StateHasChanged();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            //Console.WriteLine("SB.NAV Menu OnAfter");
            StateHasChanged();
        }
    }
}
