@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="options horizotnal">
        <label class="options-label">Annotations: </label>
        <label class="options-item">
            <input type="checkbox" @onchange="OnCrosshairsVisibleCheckboxChange" checked="@CrosshairsVisible" /> Crosshair
        </label>
        <label class="options-item">
            <input type="checkbox" @onchange="OnCalloutsVisibleCheckboxChange" checked="@CalloutsVisible"/> Callouts
        </label>
        <label class="options-item">
            <input type="checkbox" @onchange="OnFinalValuesCheckboxChange" checked="@FinalValuesVisible"/> Final Values
        </label>
        @* TODO changing markers is not currently possible at this time
        <label class="options-item">
            <input type="checkbox" onChange={this.onMarkersVisible} /> Markers
        </label>*@
    </div>

    <div class="container vertical">
        @if (Data != null)
        {
            <IgbCategoryChart Height="100%" Width="100%"
                           DataSource="Data"
                           ChartType="CategoryChartType.Line"
                           ExcludedProperties="@(new string[] { "Date" })"
                           IncludedProperties="@(new string[] {"Month", "Temperature"})"
                           XAxisInterval="1"
                           YAxisMinimumValue="50"
                           YAxisMaximumValue="120"
                           YAxisLabelLocation="YAxisLabelLocation.OutsideRight"
                           IsTransitionInEnabled="true"
                           Thickness="2"
                           CalloutsVisible="@CalloutsVisible"
                           CalloutsXMemberPath="Index"
                           CalloutsYMemberPath="Value"
                           CalloutsLabelMemberPath="Info"
                           CrosshairsSnapToData="true"
                           CrosshairsDisplayMode="@CrosshairMode"
                           CrosshairsAnnotationEnabled="@CrosshairsVisible"
                           FinalValueAnnotationsVisible="@FinalValuesVisible">
            </IgbCategoryChart>
        }
    </div>
</div>

@code {

    private List<TemperatureData> Data;
    private string[] IncludedProps = new string[] { "Month", "Temperature" };

    // private bool MarkersVisible = true;
    private bool FinalValuesVisible = true;
    private bool CalloutsVisible = true;
    private bool CrosshairsVisible = true;

    private CrosshairsDisplayMode CrosshairMode = CrosshairsDisplayMode.Both;

    protected override void OnInitialized()
    {
        IgbCategoryChartModule.Register(IgniteUIBlazor);

        this.Data = new List<TemperatureData>();
        InitData();
    }

    private void OnFinalValuesCheckboxChange(ChangeEventArgs args)
    {
        bool value = (bool)args.Value;
        this.FinalValuesVisible = value;
    }

    private void OnCalloutsVisibleCheckboxChange(ChangeEventArgs args)
    {
        bool value = (bool)args.Value;
        this.CalloutsVisible = value;
    }

    private void OnCrosshairsVisibleCheckboxChange(ChangeEventArgs args)
    {
        bool value = (bool)args.Value;
        if (value)
        {
            this.CrosshairMode = CrosshairsDisplayMode.Both;
        }
        else
        {
            this.CrosshairMode = CrosshairsDisplayMode.None;
        }
    }

    private void InitData()
    {
        int year = DateTime.Now.Year;
        string[] months = new string[] {
            "JAN", "FEB", "MAR", "APR", "MAY", "JUN",
            "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"
        };
        double[] tempValues = { 74, 74, 76, 78, 83, 87, 94, 97, 93, 86, 81, 79 };

        // generating data item
        for (int i = 0; i < 12; i++)
        {
            this.Data.Add(new TemperatureData()
            {
                Temperature = tempValues[i],
                Date = new DateTime(year, (i + 1), 1),
                Month = months[i],
            });
        }

        double minVal = double.MinValue;
        double maxVal = double.MaxValue;

        int minIndex = 0;
        int maxIndex = 0;
        int idx = 0;

        // annotating data items
        foreach (TemperatureData item in this.Data) {

            if (minVal > item.Temperature)
            {
                minVal = item.Temperature;
                minIndex = idx;
            }
            if (maxVal < item.Temperature)
            {
                maxVal = item.Temperature;
                maxIndex = idx;
            }

            item.Index = idx;
            item.Value = item.Temperature;

            int month = item.Date.Month;
            if (month >= 11 || month < 3)
            {
                item.Info = "WINTER";
            }
            else if (month >= 3 && month < 5)
            {
                item.Info = "SPRING";
            }
            else if (month >= 5 && month < 8)
            {
                item.Info = "SUMMER";
            }
            else if (month >= 8 && month < 11)
            {
                item.Info = "FALL";
            }
            idx++;
        }

        this.Data[minIndex].Info = "MIN";
        this.Data[maxIndex].Info = "MAX";
    }

    public class TemperatureData
    {
        public double Temperature { get; set; }
        public DateTime Date { get; set; }
        public string Month { get; set; }
        public string Info { get; set; }
        public double Value { get; set; }
        public double Index { get; set; }
    }
}