@using IgniteUI.Blazor.Controls


<div class="container sample center">

    <style>
        #radioGroup {
            display: flex;
            margin: 0 auto;
            width: 15%;
        }
    </style>

    <IgbRadioGroup id="radioGroup" Alignment="@RadioGroupAlignment.Horizontal">
        <IgbRadio name="size" Value="Small" LabelPosition="@RadioLabelPosition.After" Change="@OnRadioOptionClick">Small</IgbRadio>
        <IgbRadio name="size" Value="Medium" LabelPosition="@RadioLabelPosition.After" Checked="true" Change="@OnRadioOptionClick">Medium</IgbRadio>
        <IgbRadio name="size" Value="Large" LabelPosition="@RadioLabelPosition.After" Change="@OnRadioOptionClick">Large</IgbRadio>
    </IgbRadioGroup>

    <IgbInput DisplayType="@InputType.Text" Size="@InputSize" Label="Required" Value="This input is required" Required="true" />
    <IgbInput DisplayType="@InputType.Text" Size="@InputSize" Label="Disabled" Value="This input is disabled" Disabled="true" />
    <IgbInput DisplayType="@InputType.Text" Size="@InputSize" Label="Readonly" Value="This input is readonly" Readonly="true" />
</div>

@code {

    private SizableComponentSize InputSize { get; set; }

    protected override void OnInitialized()
    {
        this.InputSize = SizableComponentSize.Medium;
    }

    public void OnRadioOptionClick(IgbComponentBoolValueChangedEventArgs e)
    {
        IgbRadio radio = e.Parent as IgbRadio;

        switch (radio.Value)
        {
            case "Small":
                {
                    this.InputSize = SizableComponentSize.Small;
                    break;
                }
            case "Medium":
                {
                    this.InputSize = SizableComponentSize.Medium;
                    break;
                }
            case "Large":
                {
                    this.InputSize = SizableComponentSize.Large;
                    break;
                }
        }
    }
}
