@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="container vertical">
    <div class="options horizontal">
        <span class="options-label">Trend Line Type: </span>
        <select @bind="@ChartTrendline">
            <option>@TrendLineType.LinearFit</option>
            <option>@TrendLineType.QuadraticFit</option>
            <option>@TrendLineType.CubicFit</option>
            <option>@TrendLineType.QuarticFit</option>
            <option>@TrendLineType.QuinticFit</option>
            <option>@TrendLineType.LogarithmicFit</option>
            <option>@TrendLineType.ExponentialFit</option>
            <option>@TrendLineType.PowerLawFit</option>
            <option>@TrendLineType.SimpleAverage</option>
            <option>@TrendLineType.ExponentialAverage</option>
            <option>@TrendLineType.ModifiedAverage</option>
            <option>@TrendLineType.CumulativeAverage</option>
            <option>@TrendLineType.WeightedAverage</option>
            <option>@TrendLineType.None</option>
        </select>
    </div>
    <div class="container vertical">
        @if (Data != null)
        {
            <CategoryChart Height="100%" Width="100%"
                           DataSource="Data"
                           ChartType="CategoryChartType.Point"
                           ChartTitle="Average Temperature over 2000 Years"
                           IsTransitionInEnabled="true"
                           TrendLineType="@ChartTrendline"
                           TrendLineThickness="2"
                           TrendLinePeriod="20"
                           YAxisMinimumValue="0"
                           YAxisTitle="Temperature (C)"
                           XAxisTitle="Years"
                           IncludedProperties="@IncludedProps"
                           ExcludedProperties="@ExcludedProps">
            </CategoryChart>
        }
    </div>
</div>

@code {

    private List<Temperature> Data;

    private string[] IncludedProps = new string[] { "Value", "Label" };
    private string[] ExcludedProps = new string[] { "High", "Low" };

    private TrendLineType ChartTrendline = TrendLineType.LinearFit;

    protected override void OnInitialized()
    {
        IgbCategoryChartModule.Register(IgniteUIBlazor);

        this.Data = TemperatureHistory.Generate(30, 0, 2000);
    }
}