@using IgniteUI.Blazor.Controls

<style>
    .column {
        display: flex;
        flex-direction: column;
    }

    .row {
        display: flex;
        flex-direction: row;
    }

    .buttons {
        display: flex;
        gap: 5px;
        margin-top: 15px;
        flex-direction: row;
    }
</style>

<div class="container vertical">
    <div class="container vertical">
        <form @ref="Form">
            <fieldset class="column">
                <IgbDateRangePicker @ref="DateRangePicker" bind-Value="@Range" Label="Date Range" Required="true" Min="@Min" Change="HandleDateRangeChange" />
                <div class="buttons">
                    <IgbButton onclick="@HandleSubmit" Variant="ButtonVariant.Outlined"><span>Submit</span></IgbButton>
                    <IgbButton onclick="@HandleReset" Variant="ButtonVariant.Outlined"><span>Reset</span></IgbButton>
                </div>
            </fieldset>
        </form>
        <IgbDialog @ref="DialogRef">
            <div class="column">
                <span class="row"><b>Start:&emsp;</b> @(Range?.Start.ToString("MM/dd/yyyy") ?? "N/A")</span>
                <span class="row"><b>End:&emsp; </b> @(Range?.End.ToString("MM/dd/yyyy") ?? "N/A")</span>
            </div>
            <IgbButton slot="footer" @onclick="OnDialogHide" Variant=@ButtonVariant.Flat>OK</IgbButton>
        </IgbDialog>
    </div>
</div>

@code {
    private ElementReference Form { get; set; }
    public IgbDateRangePicker DateRangePicker { get; set; }
    public DateTime Min = new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1);
    public IgbDateRangeValue Range { get; set; }
    public IgbDialog DialogRef;

    private void HandleDateRangeChange(IgbDateRangeValueEventArgs e)
    {
        this.Range = new IgbDateRangeValue
        {
            Start = e.Detail.Start,
            End = e.Detail.End
        };
    }

    public async void HandleSubmit(MouseEventArgs e)
    {
        if (this.DialogRef != null)
        {
            await this.DialogRef.ShowAsync();
        }
    }

    private void HandleReset(MouseEventArgs e)
    {
        this.Range = null;
        DateRangePicker.Clear();
    }

    public async Task OnDialogHide()
    {
        if (this.DialogRef != null)
        {
            await this.DialogRef.HideAsync();
        }
    }
}
