@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Rendering
@using IgniteUI.Blazor.Controls
;

<div class="container vertical">
    <div class="container vertical">
        @if (Data != null)
        {
            <IgbDataGrid Height="100%" Width="100%"
                      RowHeight="90"
                      AutoGenerateColumns="false"

                      DataSource="Data">
                <IgbTextColumn Field="ProductID" HeaderText="ID" Width="@("*>110")"
                            HorizontalAlignment="@CellContentHorizontalAlignment.Center" />
                <IgbTextColumn Field="ProductName" HeaderText="Product" Width="@("*>140")" />
                <IgbNumericColumn Field="ProductPrice" HeaderText="Price" Width="@("*>110")"
                               PositivePrefix="$" ShowGroupingSeparator="true"
                               MinFractionDigits="2" />

                @* custom sparkline solumn: *@
                <IgbTemplateColumn Field="OrderHistory" Width="@("*>180")"
                                HeaderText="Order History" PaddingTop="10" PaddingBottom="10"
                                HorizontalAlignment="CellContentHorizontalAlignment.Center">
                    <Template>
                        <div style="width: 100%; height: 70px; background: transparent">
                            <IgbSparkline Height="100%" Width="100%"
                                       DataSource="@((context.RowItem as Product).OrderHistory)"
                                       DisplayType="SparklineDisplayType.Line"
                                       ValueMemberPath="Sold"
                                       LabelMemberPath="Week"
                                       Brush="rgb(21, 190, 6)">
                            </IgbSparkline>
                        </div>
                    </Template>
                </IgbTemplateColumn>

                <IgbNumericColumn Field="OrderCount" HeaderText="Orders" Width="@("*>110")"
                               HorizontalAlignment="CellContentHorizontalAlignment.Center" />
                <IgbNumericColumn Field="Profit" Width="@("*>120")" PositivePrefix="$" ShowGroupingSeparator="true" />

                <IgbImageColumn IsEditable="false" Field="CountryFlag" HeaderText="Country" Width="@("*>120")"
                             ContentOpacity="1" HorizontalAlignment="CellContentHorizontalAlignment.Center"
                             PaddingTop="10" PaddingBottom="10"/>
                <IgbTextColumn Field="Status" HeaderText="Status" Width="@("*>120")"
                            HorizontalAlignment="CellContentHorizontalAlignment.Center" />
            </IgbDataGrid>
        }
    </div>
</div>

@code {

    private List<Product> Data;

    protected override void OnInitialized()
    {
        this.Data = Products.GetData(20);
    }
}
