@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor;
@inject IJSRuntime JSRuntime;

<div class="container vertical">
    <div class="options horizotnal">
        <span class="options-item">Resizing Mode:</span>
        <select class="options-item" @bind="GridResizingMode">
            <option>@ColumnResizingMode.Deferred</option>
            <option>@ColumnResizingMode.Immediate</option>
            <option>@ColumnResizingMode.None</option>
        </select>

        <span class="options-item">Resizing Animation:</span>
        <select class="options-item" @bind="GridResizingAnimationMode">
            <option>@ColumnResizingAnimationMode.Auto</option>
            <option>@ColumnResizingAnimationMode.Interpolate</option>
            <option>@ColumnResizingAnimationMode.None</option>
        </select>
    </div>

    <div class="container vertical">
        @if (Data != null)
        {
            <IgbDataGrid Height="100%" Width="100%"
                      ColumnResizingAnimationMode="@GridResizingAnimationMode"
                      ColumnResizingMode="@GridResizingMode"
                      ColumnResizingSeparatorWidth="1"
                      AutoGenerateColumns="false"
                      DefaultColumnMinWidth="100"
                      DataSource="Data"
                      IsColumnOptionsEnabled="true">
                <IgbTextColumn Field="Name" Width="@("*>170")" />
                <IgbTextColumn Field="Street" HeaderText="Address" Width="@("*>150")" />
                <IgbTextColumn Field="City" Width="@("*>120")" />
                <IgbNumericColumn Field="Salary" PositivePrefix="$" ShowGroupingSeparator="true" Width="@("*>120")" />
                <IgbDateTimeColumn Field="Birthday" Width="@("*>170")" />
            </IgbDataGrid>
        }
    </div>
</div>

@code {

    private List<Employee> Data;

    private ColumnResizingAnimationMode GridResizingAnimationMode;
    private ColumnResizingMode GridResizingMode;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        IgbDataGridModule.Register(IgniteUIBlazor);

        this.Data = EmployeeData.Create(100, false);
        this.GridResizingAnimationMode = ColumnResizingAnimationMode.Interpolate;
        this.GridResizingMode = ColumnResizingMode.Deferred;
    }
}
