
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor;

<div class="container vertical">

    <div class="container vertical">

        @if (Data != null)
        {
            <IgbDataGridToolbar TargetGrid="Grid" ToolbarTitle="Global Sales"
                             ColumnPinning="true">
            </IgbDataGridToolbar>
            <IgbDataGrid @ref="Grid" Height="calc(100% - 40px)" Width="100%"
                DataSource="Data"
                AutoGenerateColumns="false">
                    <IgbTextColumn Field="ID" Pinned="PinnedPositions.Left" Width="@("*>110")" />
                    <IgbTextColumn Field="FirstName" Pinned="PinnedPositions.Left" Width="@("*>190")" />
                    <IgbTextColumn Field="LastName" Pinned="PinnedPositions.Left" Width="@("*>190")" />
                    <IgbDateTimeColumn Field="Birthday" Width="@("*>170")" />
                    <IgbNumericColumn Field="Age" Width="@("*>120")" />
                    <IgbImageColumn IsEditable="false" Field="CountryFlag" />
                    <IgbTextColumn Field="Street" Width="@("*>160")"/>
                    <IgbTextColumn Field="City" Width="260"/>
                    <IgbTextColumn Field="Country" Width="@("*>170")"/>
                    <IgbNumericColumn Field="Salary" Width="@("*>170")"/>
                    <IgbNumericColumn Field="Sales" Width="@("*>120")"/>
                    <IgbNumericColumn Field="Salary" Width="@("*>120")" PositivePrefix="$"
                        ShowGroupingSeparator="true"
                        MaxFractionDigits="0"
                        MinFractionDigits="0" />
            </IgbDataGrid>
        }

    </div>
</div>

@code {

    private List<Employee> Data;
    private IgbDataGrid grid;
    public IgbDataGrid Grid
    {
        get
        {
            return grid;
        }
        set
        {
            grid = value;
            StateHasChanged();
        }
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();

        IgbDataGridModule.Register(IgniteUIBlazor);
        IgbDataGridToolbarModule.Register(IgniteUIBlazor);

        this.Data = EmployeeData.Create(200, false);
    }
}
