
@using Infragistics.Blazor.Controls
@inject IInfragisticsBlazor InfragisticsBlazor

<div class="igContainer">
    <div class="igComponent">

        <DataChart Height="100%" Width="100%"
                   Subtitle="Wind Speed vs Boat Speed"
                   SubtitleTopMargin="10"
                   IsHorizontalZoomEnabled="true"
                   IsVerticalZoomEnabled="true">
            <CategoryAngleAxis Name="angleAxis" DataSource="@DataSource"
                               Label="Department" />
            <NumericRadiusAxis Name="radiusAxis" 
                               InnerRadiusExtentScale="0.1"
                               MinimumValue="0"/>

            <RadialLineSeries Name="series1"
                              DataSource="@DataSource"
                              AngleAxisName="angleAxis"
                              ValueMemberPath="Budget"
                              ValueAxisName="radiusAxis"
                              ShowDefaultTooltip="true"
                              AreaFillOpacity="0.8"
                              Thickness="1"
                              Title="Budget"
                              MarkerType="@MarkerType.Circle" />
            <RadialLineSeries Name="series2"
                              DataSource="@DataSource"
                              AngleAxisName="angleAxis"
                              ValueMemberPath="Spending"
                              ValueAxisName="radiusAxis"
                              ShowDefaultTooltip="true"
                              AreaFillOpacity="0.8"
                              Thickness="1"
                              Title="Spending"
                              MarkerType="@MarkerType.Circle" />
        </DataChart>

    </div>
</div>

@code {

    private List<SampleRadialItem> DataSource;

    protected override void OnInitialized()
    {
        DataChartCoreModule.Register(InfragisticsBlazor);
        DataChartRadialModule.Register(InfragisticsBlazor);      
        DataChartRadialCoreModule.Register(InfragisticsBlazor);
   
        DataChartExtendedAxesModule.Register(InfragisticsBlazor);
        DataChartCategoryModule.Register(InfragisticsBlazor);
        DataChartInteractivityModule.Register(InfragisticsBlazor);

        DataSource = SampleRadialData.Create(); 
    }
    
}