@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">
    <div class="igOptions">
        <span class="igOptions-label">Tooltip Type: </span>
        <select @bind="@ChartTooltip">
            <option>@ToolTipType.Default</option>
            <option>@ToolTipType.Item</option>
            <option>@ToolTipType.Category</option>            
        </select>
    </div>
    <div class="igComponent">
        @if (DataSource != null)
        {
            <CategoryChart Height="100%" Width="100%"
                           DataSource="@DataSource"
                           ChartTitle="Olympic Medals By Country"
                           ChartType="CategoryChartType.Column"
                           IsTransitionInEnabled="true"
                           YAxisMinimumValue="0"
                           YAxisMaximumValue="200"
                           XAxisInterval="1"
                           ToolTipType="@ChartTooltip">
            </CategoryChart>
        }
    </div>
</div>

@code {

    private List<OlympicMedals> DataSource;

    private ToolTipType ChartTooltip = ToolTipType.Default;

    protected override void OnInitialized()
    {
        CategoryChartModule.Register(IgniteUIBlazor);

        var olympicMedals = new List<OlympicMedals>();
        olympicMedals.Add(new OlympicMedals() { Year = "1996", USA = 148, CHN = 110, RUS = 95 });
        olympicMedals.Add(new OlympicMedals() { Year = "2000", USA = 142, CHN = 115, RUS = 91 });
        olympicMedals.Add(new OlympicMedals() { Year = "2004", USA = 134, CHN = 121, RUS = 86 });
        olympicMedals.Add(new OlympicMedals() { Year = "2008", USA = 131, CHN = 129, RUS = 65 });
        olympicMedals.Add(new OlympicMedals() { Year = "2012", USA = 135, CHN = 115, RUS = 77 });
        olympicMedals.Add(new OlympicMedals() { Year = "2016", USA = 146, CHN = 112, RUS = 88 });

        DataSource = olympicMedals;
    }
}