@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor;
@inject IJSRuntime JSRuntime;

<div class="container vertical">
    <div class="options horizontal">
        <label class="options-label">Highlight Mode:</label>
        <select @bind="@HighlightingMode" style="width: 7rem; margin-right: 1rem;"
                title="Chart will brighten or fade series depending on this setting" >
            <option>@SeriesHighlightingMode.Auto</option>
            <option>@SeriesHighlightingMode.Brighten</option>
            <option>@SeriesHighlightingMode.BrightenSpecific</option>
            <option>@SeriesHighlightingMode.FadeOthers</option>
            <option>@SeriesHighlightingMode.FadeOthersSpecific</option>
            <option>@SeriesHighlightingMode.None</option>
        </select>

        <label class="options-label">Highlight Behavior:</label>
        <select @bind="@HighlightingBehavior" style="width: 7rem; margin-right: 1rem;"
                title="Chart will highlight series when you hover over data points" >
            <option>@SeriesHighlightingBehavior.Auto</option>
            <option>@SeriesHighlightingBehavior.DirectlyOver</option>
            <option>@SeriesHighlightingBehavior.NearestItems</option>
            <option>@SeriesHighlightingBehavior.NearestItemsAndSeries</option>
            <option>@SeriesHighlightingBehavior.NearestItemsRetainMainShapes</option>
        </select>

        <label class="options-label">Legend Highlight:</label>
        <select @bind="@HighlightingLegend" style="width: 7rem; margin-right: 1rem;"
                title="Chart will highlight series when you hover over legend items">
            <option>@LegendHighlightingMode.Auto</option>
            <option>@LegendHighlightingMode.MatchSeries</option>
            <option>@LegendHighlightingMode.None</option>
        </select>
    </div>
    
    <div class="legend">
         <Legend @ref="Legend" Orientation="LegendOrientation.Horizontal" />
    </div>

    <div class="container vertical">
        <DataChart Height="100%" Width="100%"
                   IsVerticalZoomEnabled="true"  
                   IsHorizontalZoomEnabled="true" @ref="Chart" 
                   HighlightingBehavior="@HighlightingBehavior"
                   HighlightingMode="@HighlightingMode"
                   LegendHighlightingMode="@HighlightingLegend"
                   Legend="@Legend">

            <CategoryXAxis Name="xAxis" DataSource="Data" Label="Year" />
            <NumericYAxis  Name="yAxis" MinimumValue="0" Title="TWh" TitleLeftMargin="10" />

            <AreaSeries Title="Europe" XAxisName="xAxis" YAxisName="yAxis"
                        ValueMemberPath="Europe" 
                        DataSource="Data" 
                        ShowDefaultTooltip="true"
                        IsTransitionInEnabled="true" 
                        IsHighlightingEnabled="true"/>

            <AreaSeries Title="China" XAxisName="xAxis" YAxisName="yAxis"
                        ValueMemberPath="China" 
                        DataSource="Data" 
                        ShowDefaultTooltip="true"
                        IsTransitionInEnabled="true"  
                        IsHighlightingEnabled="true"/>

            <AreaSeries Title="USA" XAxisName="xAxis" YAxisName="yAxis"
                        ValueMemberPath="USA" 
                        DataSource="Data" 
                        ShowDefaultTooltip="true"
                        IsTransitionInEnabled="true"  
                        IsHighlightingEnabled="true"/>
        </DataChart>
    </div>
</div>

@code {

    private List<EnergyRenewableInfo> Data = new EnergyRenewableData();
    private LegendHighlightingMode HighlightingLegend = LegendHighlightingMode.MatchSeries;
    private SeriesHighlightingMode HighlightingMode = SeriesHighlightingMode.FadeOthers;
    private SeriesHighlightingBehavior HighlightingBehavior = SeriesHighlightingBehavior.DirectlyOver;
    private DataChart Chart;

    private Legend _Legend;
    private Legend Legend
    {
        get { return _Legend; }
        set { _Legend = value; StateHasChanged(); }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        DataChartCoreModule.Register(IgniteUIBlazor);
        DataChartCategoryModule.Register(IgniteUIBlazor);
        DataChartInteractivityModule.Register(IgniteUIBlazor);
        CategoryHighlightLayerModule.Register(IgniteUIBlazor); 

        LegendModule.Register(IgniteUIBlazor); 
    } 

}

