@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Rendering
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor;

<div class="igContainer">
    <div class="igComponent">
        @if (DataSource != null)
        {
            <DataGrid Height="100%" Width="100%"
                      RowHeight="90"
                      AutoGenerateColumns="false"

                      DataSource="@DataSource">
                <TextColumn Field="ProductID" HeaderText="ID" Width="@("*>110")"
                            HorizontalAlignment="@CellContentHorizontalAlignment.Center" />
                <TextColumn Field="ProductName" HeaderText="Product" Width="@("*>140")" />
                <NumericColumn Field="ProductPrice" HeaderText="Price" Width="@("*>110")"
                               PositivePrefix="$" ShowGroupingSeparator="true"
                               MinFractionDigits="2" />

                @* custom sparkline solumn: *@
                <TemplateColumn Field="OrderHistory" Width="@("*>180")"
                                HeaderText="Order History" PaddingTop="10" PaddingBottom="10"
                                HorizontalAlignment="CellContentHorizontalAlignment.Center">
                    <Template>
                        <RenderFragment>
                             <div style="width: 100%; height: 70px; background: transparent">
                                 <Sparkline Height="100%" Width="100%"
                                            DataSource="@((context.RowItem as Product).OrderHistory)"
                                            DisplayType="SparklineDisplayType.Line"
                                            ValueMemberPath="Sold"
                                            LabelMemberPath="Week"
                                            Brush="rgb(21, 190, 6)">
                                 </Sparkline>
                             </div>
                        </RenderFragment>
                    </Template>
                </TemplateColumn>

                <NumericColumn Field="OrderCount" HeaderText="Orders" Width="@("*>110")"
                               HorizontalAlignment="CellContentHorizontalAlignment.Center" />
                <NumericColumn Field="Profit" Width="@("*>120")" PositivePrefix="$" ShowGroupingSeparator="true" />

                <ImageColumn IsEditable="false" Field="CountryFlag" HeaderText="Country" Width="@("*>120")"
                             ContentOpacity="1" HorizontalAlignment="CellContentHorizontalAlignment.Center" 
                             PaddingTop="10" PaddingBottom="10"/>
                <TextColumn Field="Status" HeaderText="Status" Width="@("*>120")"
                            HorizontalAlignment="CellContentHorizontalAlignment.Center" />
            </DataGrid>
        }
    </div>
</div>

@code {

    private List<Product> DataSource;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        DataGridModule.Register(IgniteUIBlazor);
        SparklineModule.Register(IgniteUIBlazor);

        this.DataSource = Products.GetData(20);
        Console.WriteLine("SparklineGrid " + this.DataSource.Count);
    }
}
