@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor;
@inject IJSRuntime JSRuntime;

<div class="container vertical">
    <div class="options horizotnal">
        <span>Selection Mode:</span>
        <select @bind="SelectionMode">
            <option>@GridSelectionMode.None</option>
            <option>@GridSelectionMode.SingleCell</option>
            <option>@GridSelectionMode.SingleRow</option>
            <option>@GridSelectionMode.MultipleCell</option>
            <option>@GridSelectionMode.MultipleRow</option>
            <option>@GridSelectionMode.RangeCell</option>
        </select>
    </div>
    <div class="container vertical">
        @if (Data != null)
        {
            <DataGrid Height="100%" Width="100%"
                      DefaultColumnMinWidth="100"
                      AutoGenerateColumns="false"
                      DataSource="Data"
                      SelectionMode="@SelectionMode"
                      IsColumnOptionsEnabled="true">
                <TextColumn Field="Name" Width="@("*>150")" />
                <TextColumn Field="Street" HeaderText="Street" Width="@("*>160")"/>
                <TextColumn Field="City" HeaderText="City" Width="@("*>120")"/>
                <NumericColumn Field="Salary" HeaderText="Salary" PositivePrefix="$" ShowGroupingSeparator="true" Width="@("*>120")"/>
                <ImageColumn IsEditable="false" Field="Photo" HeaderText="Photo" ContentOpacity="1" HorizontalAlignment="@CellContentHorizontalAlignment.Center" Width="@("*>110")"/>
                <DateTimeColumn Field="Birthday" HeaderText="Date of Birth" Width="@("*>170")"/>
            </DataGrid>
        }
    </div>
</div>

@code {

    private GridSelectionMode SelectionMode;
    private List<Employee> Data;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        DataGridModule.Register(IgniteUIBlazor);

        this.SelectionMode = GridSelectionMode.MultipleRow;

        Data = EmployeeData.Create(100, false);
    }
}
