@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor

<div class="igContainer">
    <div class="igComponent">
        <div class="igOptions">
            <span class="igOptions-label">Marker Type: </span>
            <select @bind="SelectedMarkerType">
                <option>@MarkerType.Automatic</option>
                <option>@MarkerType.Circle</option>
                <option>@MarkerType.Diamond</option>
                <option>@MarkerType.Hexagon</option>
                <option>@MarkerType.Hexagram</option>
                <option>@MarkerType.Hidden</option>
                <option>@MarkerType.None</option>
                <option>@MarkerType.Pentagon</option>
                <option>@MarkerType.Pentagram</option>
                <option>@MarkerType.Pyramid</option>
                <option>@MarkerType.Square</option>
                <option>@MarkerType.Tetragram</option>
                <option>@MarkerType.Triangle</option>
                <option>@MarkerType.Unset</option>
            </select>
        </div>

        <GeographicMap Height="100%" Width="100%" Zoomable="true">
            <GeographicSymbolSeries DataSource="@Cities"
                                    MarkerType="@SelectedMarkerType"
                                    LatitudeMemberPath="Lat"
                                    LongitudeMemberPath="Lon"
                                    MarkerBrush="White"
                                    MarkerOutline="Gray" />
            <GeographicSymbolSeries DataSource="@Capitals"
                                    MarkerType="@SelectedMarkerType"
                                    LatitudeMemberPath="Lat"
                                    LongitudeMemberPath="Lon"
                                    MarkerBrush="White"
                                    MarkerOutline="rgb(32, 146, 252)" />
        </GeographicMap>
    </div>
</div>

@code {

    private List<WorldCity> Cities;
    private List<WorldCity> Capitals;
    private MarkerType SelectedMarkerType;

    protected override void OnInitialized()
    {
        GeographicMapModule.Register(IgniteUIBlazor);
        DataChartInteractivityModule.Register(IgniteUIBlazor);

        this.Cities = WorldLocations.GetCities();
        this.Capitals = WorldLocations.GetCapitals();

        this.SelectedMarkerType = MarkerType.Automatic;
    }
}