
@using IgniteUI.Blazor.Controls
@inject IIgniteUIBlazor IgniteUIBlazor;

<div class="container vertical">

    <div class="container vertical">

        @if (Data != null)
        {
        <DataGrid Height="100%" Width="100%"
                  DataSource="Data"
                  AutoGenerateColumns="false"
                  SelectionMode="GridSelectionMode.RangeCell"
                  ActivationMode="GridActivationMode.Cell">
            <TextColumn Width="@("*>170")" Field="Name" />
            <ImageColumn Width="@("*>120")" IsEditable="false" Field="Photo" PaddingTop="5" PaddingBottom="5" ContentOpacity="1" HorizontalAlignment="@CellContentHorizontalAlignment.Center"/>
            <NumericColumn Width="@("*>100")" Field="Age" HorizontalAlignment="@CellContentHorizontalAlignment.Center"/>
            <TextColumn Width="@("*>150")" Field="Street" HeaderText="Address" />
            <TextColumn Width="@("*>130")"Field="City"  />
            <ImageColumn Width="@("*>120")" IsEditable="false" Field="CountryFlag" HeaderText="Country" PaddingTop="5" PaddingBottom="5" ContentOpacity="1" />
            <TextColumn Field="Phone" Width="@("*>120")" />
            <DateTimeColumn Width="@("*>150")" Field="Birthday" HorizontalAlignment="@CellContentHorizontalAlignment.Center"/>
            <NumericColumn Width="@("*>170")" Field="Salary" PositivePrefix="$" ShowGroupingSeparator="true" MinFractionDigits="2" />
            <TextColumn Width="@("*>150")" Field="Email" />
        </DataGrid>
        }

    </div>
</div>

@code {

    private object Data;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        DataGridModule.Register(IgniteUIBlazor);
        this.Data = EmployeeData.Create(200, false);
    }

}
