@using IgniteUI.Blazor.Controls;


<div class="container vertical">
    <div class="options vertical">
        <IgbPropertyEditorPanel
        
        DescriptionType="Sparkline"
        IsHorizontal="true"
        IsWrappingEnabled="true"
        Name="propertyEditorPanel1"
        @ref="propertyEditorPanel1">
            <IgbPropertyEditorPropertyDescription
            PropertyPath="NormalRangeVisibility"
            Label="Normal Range Visibility"
            ValueType="PropertyEditorValueType.EnumValue"
            ShouldOverrideDefaultEditor="true"
            DropDownNames="@(new string[] { "Visible", "Collapsed" })"
            DropDownValues="@(new string[] { "Visible", "Collapsed" })"
            PrimitiveValue="@("Visible")"
            Name="NormalRangeVisibilityEditor"
            @ref="normalRangeVisibilityEditor">
            </IgbPropertyEditorPropertyDescription>
            
            <IgbPropertyEditorPropertyDescription
            DropDownValues="@(new string[] { "0", "10", "15", "20", "25", "30" })"
            PrimitiveValue="25"
            PropertyPath="NormalRangeMinimum"
            Label="Normal Range Minimum"
            ValueType="PropertyEditorValueType.EnumValue"
            ShouldOverrideDefaultEditor="true"
            DropDownNames="@(new string[] { "0", "10", "15", "20", "25", "30" })"
            Name="NormalRangeMinimumEditor"
            @ref="normalRangeMinimumEditor">
            </IgbPropertyEditorPropertyDescription>
            
            <IgbPropertyEditorPropertyDescription
            DropDownValues="@(new string[] { "0", "10", "15", "20", "25", "30" })"
            PrimitiveValue="25"
            PropertyPath="NormalRangeMaximum"
            Label="Normal Range Maximum"
            ValueType="PropertyEditorValueType.EnumValue"
            ShouldOverrideDefaultEditor="true"
            DropDownNames="@(new string[] { "0", "10", "15", "20", "25", "30" })"
            Name="NormalRangeMaximumEditor"
            @ref="normalRangeMaximumEditor">
            </IgbPropertyEditorPropertyDescription>
            
        </IgbPropertyEditorPanel>
        
    </div>

    <div class="container vertical fill">
        <IgbSparkline
        NormalRangeVisibility="Visibility.Visible"
        DataSource="SparklineMixedData"
        ValueMemberPath="Value"
        LabelMemberPath="Label"
        NormalRangeMinimum="15"
        NormalRangeMaximum="25"
        DisplayType="SparklineDisplayType.Area"
        Name="chart"
        @ref="chart">
        </IgbSparkline>
        
    </div>

</div>

@code {
    protected override async Task OnInitializedAsync()
    {

    }

    private Action BindElements { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var propertyEditorPanel1 = this.propertyEditorPanel1;
        var normalRangeVisibilityEditor = this.normalRangeVisibilityEditor;
        var normalRangeMinimumEditor = this.normalRangeMinimumEditor;
        var normalRangeMaximumEditor = this.normalRangeMaximumEditor;
        var chart = this.chart;

        this.BindElements = () => {
            propertyEditorPanel1.Target = this.chart;
        };
        this.BindElements();


	}

    private IgbPropertyEditorPanel propertyEditorPanel1;
    private IgbPropertyEditorPropertyDescription normalRangeVisibilityEditor;
    private IgbPropertyEditorPropertyDescription normalRangeMinimumEditor;
    private IgbPropertyEditorPropertyDescription normalRangeMaximumEditor;
    private IgbSparkline chart;

    private SparklineMixedData _sparklineMixedData = null;
    public SparklineMixedData SparklineMixedData
    {
        get
        {
            if (_sparklineMixedData == null)
            {
                _sparklineMixedData = new SparklineMixedData(); 
            }
            return _sparklineMixedData;
        }
    }
    
}