@inject IJSRuntime JSRuntime;
@using IgniteUI.Blazor.Controls
@using System.Timers

<style>
:root {
    --main-color: rgb(227,230,233);
    --secondary-color: rgb(113,115,116);
    --white: #ffffff;
    --font-color: rgb(113,115,116);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.size-small {
    --ig-size: var(--ig-size-small);
}

.size-medium {
    --ig-size: var(--ig-size-medium);
}

.size-large {
    --ig-size: var(--ig-size-large);
}

igc-dockmanager {
    background-color: var(--main-color);
    padding: 20px;
}

    igc-dockmanager::part(pane-header) {
        background-color: var(--white);
        border-bottom: 2px solid var(--main-color);
    }

    igc-dockmanager::part(pane-header active) {
        font-weight: 700;
        color: var(--secondary-color);
        box-shadow: none;
        border-bottom: 2px solid var(--secondary-color);
    }

    igc-dockmanager::part(pane-header-content) {
        color: rgba(104, 97, 97, 0.938);
    }

    igc-dockmanager::part(splitter) {
        flex: 0 0 15px;
    }

    igc-dockmanager::part(splitter-base) {
        background: transparent;
    }

        igc-dockmanager::part(splitter-base)::after {
            content: none;
        }

    igc-dockmanager::part(content-pane) {
        border-radius: 10px;
    }

    igc-dockmanager::part(tab-header bottom) {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: var(--main-color);
    }

    igc-dockmanager::part(tab-header active selected bottom) {
        font-weight: 700;
        color: var(--secondary-color);
        box-shadow: inset 0 2px 0 0 var(--secondary-color);
    }

    igc-dockmanager::part(tab-strip-area bottom) {
        border-radius: 0 0 10px 10px;
        border-bottom: 2px solid var(--main-color);
        background-color: var(--white);
    }

    igc-dockmanager::part(tab-strip-actions bottom) {
        display: none;
    }

    igc-dockmanager::part(tabs-content) {
        border-radius: 10px 10px 0 0;
        background-color: var(--white);
    }

    igc-dockmanager::part(root-docking-indicator),
    igc-dockmanager::part(docking-indicator) {
        background-color: rgba(49, 45, 49, 0.733);
        color: var(--white);
        border: none;
        border-radius: 5px;
        margin: 2px
    }

    igc-dockmanager::part(docking-preview) {
        background-color: var(--main-color);
        opacity: 0.7;
    }

    igc-dockmanager::part(unpinned-pane-header) {
        border-radius: 5px;
        margin-bottom: 5px;
        box-shadow: inset 0 2px 0 0 var(--secondary-color);
        background-color: var(--white);
    }

    igc-dockmanager::part(floating-window) {
        border-radius: 10px;
    }

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.floatingHeader {
    display: flex;
    justify-content: space-between;
}

.dockManagerFull {
    padding: 0rem;
    margin: 0rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.closeButton {
    width: inherit;
    border: none;
    background: transparent;
    color: var(--font-color);
    font-size: 14px;
}

.stock-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.stock-item-movement-up {
    display: flex;
    color: rgb(0,153,255);
}

.stock-item-movement-down {
    display: flex;
    color: rgb(233, 80, 164);
}

igc-avatar::part(image) {
    background-color: white;
}

igc-card {
    height: inherit;
}

igc-card-content {
    padding-top: 5px;
    padding-bottom: 0px;
}

/* ACCOUNTS */

.account-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* TOP MOVERS */

.top-movers-content {
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    justify-content: space-evenly;
}

.top-move-stock-item {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* PHYSICAL CARDS */

.add-card-btn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
}

</style>


<div id="root">
    <IgbDockManager @ref=dockManager id="dockManager" Height="100%" Width="100%" Layout="Layout">
        <div slot="accountHeader" class="header">
            <span>ACCOUNTS</span>
            <menu-component></menu-component>
        </div>
        <div slot="accountFloatingHeader" class="floatingHeader">
            <span>ACCOUNTS</span>
            <button id="close" class="closeButton">
                <IgbIcon IconName="close" />
            </button>
        </div>
        <div class="dockManagerFull" slot="content1">
            <IgbCard style="overflow-y: auto;" elevated>
                <IgbCardContent>
                    <div class="account-content">
                        <div>
                            <h1>$2980.00</h1>
                            <span style="font-size: 12pt;">United States Dollar</span>
                        </div>

                        <IgbAvatar  style="margin: 0.5rem;" class="size-medium" Src="https://static.infragistics.com/xplatform/images/flags/USA.png"
                                    Shape="@AvatarShape.Rounded">USA</IgbAvatar>
                    </div>
                </IgbCardContent>

                <IgbCardActions>
                    <div>
                        <IgbButton Variant="@ButtonVariant.Fab" class="size-medium" slot="start">
                            Add Money
                        </IgbButton>
                        <IgbButton Variant="@ButtonVariant.Fab" class="size-medium" slot="start">
                            Send
                        </IgbButton>
                    </div>
                </IgbCardActions>
            </IgbCard>
        </div>

        <div slot="todayTopMovers" class="header">
            <span>TODAY'S TOP MOVERS</span>
            <menu-component></menu-component>
        </div>
        <div slot="todayTopMoversFloatingHeader" class="floatingHeader">
            <span>TODAY'S TOP MOVERS</span>
            <button id="close" class="closeButton">
                <IgbIcon IconName="close" />
            </button>
        </div>
        <div class="dockManagerFull" slot="content2" style="overflow-y: auto;">
            <div class="top-movers-content size-large">
                <div class="top-move-stock-item">
                    <IgbAvatar Src="https://static.infragistics.com/xplatform/images/company/tesla.png" Shape="@AvatarShape.Circle">TSLA</IgbAvatar>
                    <span>1017,08$</span>
                    <div class="stock-item-movement-down">
                        <IgbIcon @ref=RegisterIconRef IconName="arrow-down" Collection="material"/>
                        12,54%
                    </div>
                </div>
                <div class="top-move-stock-item">
                    <IgbAvatar Src="https://static.infragistics.com/xplatform/images/company/amc.png" Shape="@AvatarShape.Circle">AMC</IgbAvatar>
                    <span>39,33$</span>
                    <div class="stock-item-movement-down">
                        <IgbIcon IconName="arrow-down" Collection="material"></IgbIcon>
                        12,72%
                    </div>
                </div>
                <div class="top-move-stock-item">
                    <IgbAvatar Src="https://static.infragistics.com/xplatform/images/company/canoo.png" Shape="@AvatarShape.Circle">GOEV</IgbAvatar>
                    <span>12,33$</span>
                    <div class="stock-item-movement-up"><IgbIcon IconName="arrow-up" Collection="material"></IgbIcon>45,92%</div>
                </div>
                <div class="top-move-stock-item">
                    <IgbAvatar Src="https://static.infragistics.com/xplatform/images/company/lucid.png" Shape="@AvatarShape.Circle">LCID</IgbAvatar>
                    <span>58,14$</span>
                    <div class="stock-item-movement-up"><IgbIcon IconName="arrow-up" Collection="material"></IgbIcon>29,42%</div>
                </div>
                <div class="top-move-stock-item">
                    <IgbAvatar Src="https://static.infragistics.com/xplatform/images/company/nio.png" Shape="@AvatarShape.Circle">NIO</IgbAvatar>
                    <span>21,67$</span>
                    <div class="stock-item-movement-down"><IgbIcon IconName="arrow-down" Collection="material"></IgbIcon>7,25%</div>
                </div>
                <div class="top-move-stock-item">
                    <IgbAvatar Src="https://static.infragistics.com/xplatform/images/company/stoneco.png" Shape="@AvatarShape.Circle">STNE</IgbAvatar>
                    <span>22,48$</span>
                    <div class="stock-item-movement-down"><IgbIcon IconName="arrow-down" Collection="material"></IgbIcon>28,68%</div>
                </div>
                <div class="top-move-stock-item">
                    <IgbAvatar Src="https://static.infragistics.com/xplatform/images/company/roku.png" Shape="@AvatarShape.Circle">ROKU</IgbAvatar>
                    <span>249,35$</span>
                    <div class="stock-item-movement-down"><IgbIcon IconName="arrow-down" Collection="material"></IgbIcon>9,5%</div>
                </div>
                <div class="top-move-stock-item">
                    <IgbAvatar Src="https://static.infragistics.com/xplatform/images/company/maxar.png" Shape="@AvatarShape.Circle">MAXR</IgbAvatar>
                    <span>33,14$</span>
                    <div class="stock-item-movement-up"><IgbIcon IconName="arrow-up" Collection="material"></IgbIcon>8,12%</div>
                </div>
            </div>
        </div>
        <div slot="transactionsHeader" class="header">
            <span>TRANSACTIONS</span>
            <menu-component></menu-component>
        </div>
        <div slot="transactionsFloatingHeader" class="floatingHeader">
            <span>TRANSACTIONS</span>
            <button id="close" class="closeButton">
                <IgbIcon IconName="close" />
            </button>
        </div>
        <div class="dockManagerFull" slot="content3">
            <IgbList id="list" style="overflow-y: auto;">
                <IgbListItem>
                    <IgbAvatar slot="start" Src="https://raw.githubusercontent.com/IgniteUI/material-icons-extended/363c7f3e2da72df5fc2eb63b762a4e69f6fbc603/src/svgs/cash-2.svg" Shape="@AvatarShape.Circle">AMZN</IgbAvatar>
                    <h2 slot="title">Money added via **0000</h2>
                    <span slot="subtitle">14:40</span>
                    <div slot="end" class="stock-price">
                        <span>+ 2000$</span>
                    </div>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar slot="start" Src="https://raw.githubusercontent.com/IgniteUI/material-icons-extended/363c7f3e2da72df5fc2eb63b762a4e69f6fbc603/src/svgs/cash-only.svg" Shape="@AvatarShape.Circle">SET</IgbAvatar>
                    <h2 slot="title">Sports Event Tickets</h2>
                    <span slot="subtitle">Jun 21, 06:15, Declined because your card is inactive</span>
                    <div slot="end" class="stock-price">
                        <span style="text-decoration: line-through;">1017,08 $</span>
                        <span style="color: lightgray;">900,08 $</span>
                    </div>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar slot="start" Src="https://raw.githubusercontent.com/IgniteUI/material-icons-extended/363c7f3e2da72df5fc2eb63b762a4e69f6fbc603/src/svgs/cash-only.svg" Shape="@AvatarShape.Circle">AT</IgbAvatar>
                    <h2 slot="title">Airplane Tickets</h2>
                    <span slot="subtitle">Jun 21, 06:15, Declined because your card is inactive</span>
                    <div slot="end" class="stock-price">
                        <span style="text-decoration: line-through;">985,00 $</span>
                        <span style="color: lightgray;">980,00 $</span>
                    </div>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar slot="start" Src="https://raw.githubusercontent.com/IgniteUI/material-icons-extended/363c7f3e2da72df5fc2eb63b762a4e69f6fbc603/src/svgs/building.svg" Shape="@AvatarShape.Circle">H</IgbAvatar>
                    <h2 slot="title">Hotel</h2>
                    <span slot="subtitle">Jun 21, 06:15</span>
                    <div slot="end" class="stock-price">
                        <span>- 400,00 $</span>
                    </div>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar slot="start" Src="https://raw.githubusercontent.com/IgniteUI/material-icons-extended/363c7f3e2da72df5fc2eb63b762a4e69f6fbc603/src/svgs/atm.svg" Shape="@AvatarShape.Circle">ATM</IgbAvatar>
                    <h2 slot="title">Cash at ATM 000000</h2>
                    <span slot="subtitle">14:40</span>
                    <div slot="end" class="stock-price">
                        <span>- 140$</span>
                    </div>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar slot="start" Src="https://raw.githubusercontent.com/IgniteUI/material-icons-extended/363c7f3e2da72df5fc2eb63b762a4e69f6fbc603/src/svgs/cash-1.svg" Shape="@AvatarShape.Circle">U</IgbAvatar>
                    <h2 slot="title">Utilities</h2>
                    <span slot="subtitle">21/06/2021 16:00</span>
                    <div slot="end" class="stock-price">
                        <span>- 200$</span>
                    </div>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar slot="start" Src="https://raw.githubusercontent.com/IgniteUI/material-icons-extended/363c7f3e2da72df5fc2eb63b762a4e69f6fbc603/src/svgs/atm.svg" Shape="@AvatarShape.Circle">ATM</IgbAvatar>
                    <h2 slot="title">Cash at ATM 000001</h2>
                    <span slot="subtitle">10:10</span>
                    <div slot="end" class="stock-price">
                        <span>- 280$</span>
                    </div>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar slot="start" Src="https://raw.githubusercontent.com/IgniteUI/material-icons-extended/363c7f3e2da72df5fc2eb63b762a4e69f6fbc603/src/svgs/cash-2.svg" Shape="@AvatarShape.Circle">MA</IgbAvatar>
                    <h2 slot="title">Money added via **0000</h2>
                    <span slot="subtitle">14:40</span>
                    <div slot="end" class="stock-price">
                        <span>+ 2000$</span>
                    </div>
                </IgbListItem>
            </IgbList>
        </div>

        <div slot="popularStocksHeader" class="header">
            <span>POPULAR STOCKS</span>
            <menu-component></menu-component>
        </div>
        <div slot="popularStocksFloatingHeader" class="floatingHeader">
            <span>POPULAR STOCKS</span>
            <button id="close" class="closeButton">
                <IgbIcon IconName="close" />
            </button>
        </div>
        <div class="dockManagerFull" slot="content4">
            <IgbList id="list" style="overflow-y: auto;">
                <IgbListItem>
                    <IgbAvatar slot="start" Src="https://static.infragistics.com/xplatform/images/company/tesla.png" Shape="@AvatarShape.Circle">TSLA</IgbAvatar>
                    <h2 slot="title">Tesla</h2>
                    <span slot="subtitle">TSLA - Electric Vehicles</span>
                    <div slot="end" class="stock-price">
                        <span>1017,08 $</span>
                        <div class="stock-item-movement-down"><IgbIcon IconName="arrow-down" Collection="material"></IgbIcon>12,54%</div>
                    </div>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar slot="start" Src="https://static.infragistics.com/xplatform/images/company/apple.png" Shape="@AvatarShape.Circle">APPL</IgbAvatar>
                    <h2 slot="title">Apple</h2>
                    <span slot="subtitle">APPL - iPhones and Macs</span>
                    <div slot="end" class="stock-price">
                        <span>150,47 $</span>
                        <div class="stock-item-movement-up"><IgbIcon IconName="arrow-up" Collection="material"></IgbIcon>0,2%</div>
                    </div>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar slot="start" Src="https://static.infragistics.com/xplatform/images/company/nio.png" Shape="@AvatarShape.Circle">NIO</IgbAvatar>
                    <h2 slot="title">NIO</h2>
                    <span slot="subtitle">NIO - Electric Vehicles</span>
                    <div slot="end" class="stock-price">
                        <span>40,07 $</span>
                        <div class="stock-item-movement-down"><IgbIcon IconName="arrow-down" Collection="material"></IgbIcon>7,25%</div>
                    </div>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar slot="start" Src="https://static.infragistics.com/xplatform/images/company/amazon.png" Shape="@AvatarShape.Circle">AMZN</IgbAvatar>
                    <h2 slot="title">Amazon</h2>
                    <span slot="subtitle">AMZN - E-Commerce</span>
                    <div slot="end" class="stock-price">
                        <span>3582,32 $</span>
                        <div class="stock-item-movement-down"><IgbIcon IconName="arrow-down" Collection="material"></IgbIcon>2,68%</div>
                    </div>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar slot="start" Src="https://static.infragistics.com/xplatform/images/company/gme.png" Shape="@AvatarShape.Circle">GME</IgbAvatar>
                    <h2 slot="title">Game Stop</h2>
                    <span slot="subtitle">GME - Video Games Retail</span>
                    <div slot="end" class="stock-price">
                        <span>205,60 $</span>
                        <div class="stock-item-movement-down"><IgbIcon IconName="arrow-down" Collection="material"></IgbIcon>5,96%</div>
                    </div>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar slot="start" Src="https://static.infragistics.com/xplatform/images/company/amc.png" Shape="@AvatarShape.Circle">AMC</IgbAvatar>
                    <h2 slot="title">AMC</h2>
                    <span slot="subtitle">AMC - Entertainment</span>
                    <div slot="end" class="stock-price">
                        <span>39,33 $</span>
                        <div class="stock-item-movement-down"><IgbIcon IconName="arrow-down" Collection="material"></IgbIcon>12,72%</div>
                    </div>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar slot="start" Src="https://static.infragistics.com/xplatform/images/company/microsoft.png" Shape="@AvatarShape.Circle">MSFT</IgbAvatar>
                    <h2 slot="title">Microsoft</h2>
                    <span slot="subtitle">MSFT - Tech Giant</span>
                    <div slot="end" class="stock-price">
                        <span>335,66 $</span>
                        <div class="stock-item-movement-down"><IgbIcon IconName="arrow-down" Collection="material"></IgbIcon>0,39%</div>
                    </div>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar slot="start" Src="https://static.infragistics.com/xplatform/images/company/spce.png" Shape="@AvatarShape.Circle">SPCE</IgbAvatar>
                    <h2 slot="title">Virgin Galactic</h2>
                    <span slot="subtitle">SPCE - Space Tourism</span>
                    <div slot="end" class="stock-price">
                        <span>18,90 $</span>
                        <div class="stock-item-movement-down"><IgbIcon IconName="arrow-down" Collection="material"></IgbIcon>1,66%</div>
                    </div>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar slot="start" Src="https://static.infragistics.com/xplatform/images/company/pfizer.png" Shape="@AvatarShape.Circle">PFE</IgbAvatar>
                    <h2 slot="title">Pfizer</h2>
                    <span slot="subtitle">PFE - Pharmaceuticals</span>
                    <div slot="end" class="stock-price">
                        <span>49,43 $</span>
                        <div class="stock-item-movement-down"><IgbIcon IconName="arrow-down" Collection="material"></IgbIcon>0,60%</div>
                    </div>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar slot="start" src="https://static.infragistics.com/xplatform/images/company/google.png" Shape="@AvatarShape.Circle">GOOGL</IgbAvatar>
                    <h2 slot="title">Alpabet (Class A)</h2>
                    <span slot="subtitle">GOOGL - Tech Giant</span>
                    <div slot="end" class="stock-price">
                        <span>2972,88 $</span>
                        <div class="stock-item-movement-down"><IgbIcon IconName="arrow-down" Collection="material"></IgbIcon>0,02%</div>
                    </div>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar slot="start" Src="https://static.infragistics.com/xplatform/images/company/meta.png" Shape="@AvatarShape.Circle">FB</IgbAvatar>
                    <h2 slot="title">Meta Platforms</h2>
                    <span slot="subtitle">FB - Tech Giant</span>
                    <div slot="end" class="stock-price">
                        <span>347,86 $</span>
                        <div class="stock-item-movement-up"><IgbIcon IconName="arrow-up" Collection="material"></IgbIcon>2,04%</div>
                    </div>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar slot="start" Src="https://static.infragistics.com/xplatform/images/company/palantir.png" Shape="@AvatarShape.Circle">PLTR</IgbAvatar>
                    <h2 slot="title">Palantir</h2>
                    <span slot="subtitle">PLTR - Data Analytics</span>
                    <div slot="end" class="stock-price">
                        <span>23,30 $</span>
                        <div class="stock-item-movement-up"><IgbIcon IconName="arrow-up" Collection="material"></IgbIcon>2,06%</div>
                    </div>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar slot="start" Src="https://static.infragistics.com/xplatform/images/company/aa.png" Shape="@AvatarShape.Circle">AAL</IgbAvatar>
                    <h2 slot="title">American Airlines</h2>
                    <span slot="subtitle">AAL - Airline Service</span>
                    <div slot="end" class="stock-price">
                        <span>20,45 $</span>
                        <div class="stock-item-movement-up"><IgbIcon IconName="arrow-up" Collection="material"></IgbIcon>0.79%</div>
                    </div>
                </IgbListItem>
                <IgbListItem>
                    <IgbAvatar slot="start" Src="https://static.infragistics.com/xplatform/images/company/netflix.png" Shape="@AvatarShape.Circle">NFLX</IgbAvatar>
                    <h2 slot="title">Netflix</h2>
                    <span slot="subtitle">NFLX - TV Streaming</span>
                    <div slot="end" class="stock-price">
                        <span>679,39 $</span>
                        <div class="stock-item-movement-down"><IgbIcon IconName="arrow-down" Collection="material"></IgbIcon>0,47%</div>
                    </div>
                </IgbListItem>
            </IgbList>
        </div>

        <div slot="cardsHeader" class="header">
            <span>PHYSICAL CARDS</span>
            <menu-component></menu-component>
        </div>
        <div slot="cardsFloatingHeader" class="floatingHeader">
            <span>TODAY'S TOP MOVERS</span>
            <button id="close" class="closeButton">
                <IgbIcon IconName="close" />
            </button>
        </div>
        <div class="dockManagerFull" slot="content5">
            <IgbCard style="overflow-y: auto;" Elevated=true>
                <IgbCardContent>
                    <IgbButton Variant="@ButtonVariant.Flat" class="add-card-btn size-small">
                        + Add Card
                    </IgbButton>
                    <IgbList id="list" style="overflow-y: auto;">
                        <IgbListItem>
                            <IgbAvatar slot="start" Src="https://raw.githubusercontent.com/IgniteUI/material-icons-extended/363c7f3e2da72df5fc2eb63b762a4e69f6fbc603/src/svgs/mastercard.svg" Shape="@AvatarShape.Circle">MC</IgbAvatar>
                            <h2 slot="title">Standard **0000</h2>
                            <span slot="subtitle">Expires on 11/26</span>
                        </IgbListItem>
                        <IgbListItem>
                            <IgbAvatar slot="start" Src="https://raw.githubusercontent.com/IgniteUI/material-icons-extended/363c7f3e2da72df5fc2eb63b762a4e69f6fbc603/src/svgs/visa.svg" Shape="@AvatarShape.Circle">VISA</IgbAvatar>
                            <h2 slot="title">Rose gold **0000</h2>
                            <span slot="subtitle">Expires on 11/24</span>
                        </IgbListItem>
                        <IgbListItem>
                            <IgbAvatar slot="start" Src="https://raw.githubusercontent.com/IgniteUI/material-icons-extended/363c7f3e2da72df5fc2eb63b762a4e69f6fbc603/src/svgs/visa.svg" Shape="@AvatarShape.Circle">VISA</IgbAvatar>
                            <h2 slot="title">Virtual card **0000</h2>
                            <span slot="subtitle">Expires on 10/22</span>
                        </IgbListItem>
                    </IgbList>
                </IgbCardContent>
            </IgbCard>
        </div>
    </IgbDockManager>
</div>

@code {

    public IgbDockManager dockManager { get; set; }
    public IgbDockManagerLayout Layout { get; set; }
    public IgbIcon RegisterIconRef{ get; set; }    

    private double MaxWidth = 1200;
    private double MinWidth = 800;

    public IgbDockManagerLayout[] layouts;
    private Timer _timer;

    protected override void OnInitialized()
    {
        IgbDockManagerLayout layout1 = this.GetLayout1();
        IgbDockManagerLayout layout2 = this.GetLayout2();
        IgbDockManagerLayout layout3 = this.GetLayout3();

        this.Layout = layout1;
        layouts = new IgbDockManagerLayout[] { layout1, layout2, layout3 };        
    }

    public async void TimerElapsed(object sender, ElapsedEventArgs e)
    {
        double dockWidth = await JSRuntime.InvokeAsync<double>("getDockManagerOffset", null);

        if (dockWidth != double.NaN)
        {
            IgbDockManagerLayout newLayout = null;

            if (dockWidth >= this.MaxWidth)
            {
                newLayout = this.layouts[0];
            }
            else if (dockWidth < this.MaxWidth && dockWidth > this.MinWidth)
            {
                newLayout = this.layouts[1];
            }
            else if (dockWidth <= this.MinWidth)
            {
                newLayout = this.layouts[2];
            }

            if (newLayout != null && this.Layout != newLayout && this.dockManager != null)
            {
                this.Layout = newLayout;
                this.dockManager.Layout = this.Layout;
            }
        }        
    }    

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender && this.RegisterIconRef != null)
        {
            await this.RegisterIconRef.EnsureReady();

            var arrowDown = "<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'><path d='M0 0h24v24H0V0z' fill='none'/><path d='M7 10l5 5 5-5H7z'/></svg>";
            var arrowUp = "<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'><path d='M0 0h24v24H0V0z' fill='none'/><path d='M7 14l5-5 5 5H7z'/></svg>";

            await this.RegisterIconRef.RegisterIconFromTextAsync("arrow-down", arrowDown, "material");
            await this.RegisterIconRef.RegisterIconFromTextAsync("arrow-up", arrowUp, "material");            

            if(_timer == null)
            {
                _timer = new Timer();
                _timer.AutoReset = true;
                _timer.Elapsed += TimerElapsed;
                _timer.Interval = 500;
                _timer.Start();   
            }            
        } 
    }

    public IgbContentPane GetContentPane(string header, string contentId, string headerId, string floatingHeaderId)
    {
        var pane = new IgbContentPane()
        {
            PaneType = DockManagerPaneType.ContentPane,
            Header = header,
            ContentId = contentId,
            HeaderId = headerId,
            FloatingHeaderId = floatingHeaderId,
            IsPinned = true,
            AllowMaximize = false,
            AllowPinning = false,
            AllowClose = false
        };

        return pane;
    }

    public IgbDockManagerLayout GetLayout1()
    {
        var accountPane = this.GetContentPane("ACCOUNTS", "content1", "accountHeader", "accountFloatingHeader");
        var topMoversPane = this.GetContentPane("TODAY'S TOP MOVERS", "content2", "todayTopMovers", "todayTopMoversFloatingHeader");        
        var transactionsPane = this.GetContentPane("TRANSACTIONS", "content3", "transactionsHeader", "transactionsFloatingHeader");
        var popularStocksPane = this.GetContentPane("POPULAR STOCKS", "content4", "popularStocksHeader", "popularStocksFloatingHeader");
        var cardsPane = this.GetContentPane("PHYSICAL CARDS", "content5", "cardsHeader", "cardsFloatingHeader");        

        var splitPane1 = new IgbSplitPane()
        {
            PaneType = DockManagerPaneType.SplitPane,
            Orientation = SplitPaneOrientation.Horizontal
        };

        var splitPane2 = new IgbSplitPane()
        {
            PaneType = DockManagerPaneType.SplitPane,
            Orientation = SplitPaneOrientation.Vertical,
            Size = 300
        };

        var splitPane3 = new IgbSplitPane()
        {
            PaneType = DockManagerPaneType.SplitPane,
            Orientation = SplitPaneOrientation.Horizontal,
            Size = 300
        };

        //AccountPane, CardsPane
        var splitPane4 = new IgbSplitPane()
        {
            PaneType = DockManagerPaneType.SplitPane,
            Orientation = SplitPaneOrientation.Vertical,
            Size = 300            
        };

        //TransactionsPane
        var splitPane5 = new IgbSplitPane()
        {
            PaneType = DockManagerPaneType.SplitPane,
            Orientation = SplitPaneOrientation.Vertical,
            Size = 300
        };

        //Top Movers
        var splitPane6 = new IgbSplitPane()
        {
            PaneType = DockManagerPaneType.SplitPane,
            Orientation = SplitPaneOrientation.Horizontal,
            Size = 130
        };

        //Popular Stocks
        var splitPane7 = new IgbSplitPane()
        {
            PaneType = DockManagerPaneType.SplitPane,
            Orientation = SplitPaneOrientation.Vertical,
            Size = 200
        };

        splitPane4.Panes.Add(accountPane);
        splitPane4.Panes.Add(cardsPane);

        splitPane5.Panes.Add(transactionsPane);

        splitPane6.Panes.Add(topMoversPane);

        splitPane7.Panes.Add(popularStocksPane);

        splitPane3.Panes.Add(splitPane4);
        splitPane3.Panes.Add(splitPane5);

        splitPane2.Panes.Add(splitPane3);
        splitPane2.Panes.Add(splitPane6);

        splitPane1.Panes.Add(splitPane2);
        splitPane1.Panes.Add(splitPane7);

        IgbDockManagerLayout layout = new IgbDockManagerLayout();
        layout.RootPane = splitPane1;

        return layout;
    }

    public IgbDockManagerLayout GetLayout2()
    {
        var accountPane = this.GetContentPane("ACCOUNTS", "content1", "accountHeader", "accountFloatingHeader");
        var topMoversPane = this.GetContentPane("TODAY'S TOP MOVERS", "content2", "todayTopMovers", "todayTopMoversFloatingHeader");        
        var transactionsPane = this.GetContentPane("TRANSACTIONS", "content3", "transactionsHeader", "transactionsFloatingHeader");
        var popularStocksPane = this.GetContentPane("POPULAR STOCKS", "content4", "popularStocksHeader", "popularStocksFloatingHeader");
        var cardsPane = this.GetContentPane("PHYSICAL CARDS", "content5", "cardsHeader", "cardsFloatingHeader");        


        IgbSplitPane splitPane1 = new IgbSplitPane()
        {
            PaneType = DockManagerPaneType.SplitPane,
            Orientation = SplitPaneOrientation.Horizontal
        };

        IgbSplitPane splitPane2 = new IgbSplitPane()
        {
            PaneType = DockManagerPaneType.SplitPane,
            Orientation = SplitPaneOrientation.Vertical,
            Size = 300
        };

        IgbSplitPane splitPane3 = new IgbSplitPane()
        {
            PaneType = DockManagerPaneType.SplitPane,
            Orientation = SplitPaneOrientation.Horizontal,
            Size = 300
        };

        //Transactions Pane, TGP1
        IgbSplitPane splitPane4 = new IgbSplitPane()
        {
            PaneType = DockManagerPaneType.SplitPane,
            Orientation = SplitPaneOrientation.Vertical,
            Size = 300
        };

        //Popular Stocks Pane
        IgbSplitPane splitPane5 = new IgbSplitPane()
        {
            PaneType = DockManagerPaneType.SplitPane,
            Orientation = SplitPaneOrientation.Vertical,
            Size = 300
        };

        //Top Movers
        IgbSplitPane splitPane6 = new IgbSplitPane()
        {
            PaneType = DockManagerPaneType.SplitPane,
            Orientation = SplitPaneOrientation.Horizontal,
            Size = 130
        };

        //AccountPane, CardsPane
        IgbTabGroupPane tabGroupPane1 = new IgbTabGroupPane()
        {
                PaneType = DockManagerPaneType.TabGroupPane,
                Size = 100
        };

        tabGroupPane1.Panes.Add(accountPane);
        tabGroupPane1.Panes.Add(cardsPane);

        splitPane4.Panes.Add(tabGroupPane1);
        splitPane4.Panes.Add(transactionsPane);

        splitPane5.Panes.Add(popularStocksPane);

        splitPane6.Panes.Add(topMoversPane);

        splitPane3.Panes.Add(splitPane4);
        splitPane3.Panes.Add(splitPane5);

        splitPane2.Panes.Add(splitPane3);
        splitPane2.Panes.Add(splitPane6);

        splitPane1.Panes.Add(splitPane2);

        IgbDockManagerLayout layout = new IgbDockManagerLayout();
        layout.RootPane = splitPane1;

        return layout;
    }

    public IgbDockManagerLayout GetLayout3()
    {
        var accountPane = this.GetContentPane("ACCOUNTS", "content1", "accountHeader", "accountFloatingHeader");
        var topMoversPane = this.GetContentPane("TODAY'S TOP MOVERS", "content2", "todayTopMovers", "todayTopMoversFloatingHeader");
        var transactionsPane = this.GetContentPane("TRANSACTIONS", "content3", "transactionsHeader", "transactionsFloatingHeader");
        var popularStocksPane = this.GetContentPane("POPULAR STOCKS", "content4", "popularStocksHeader", "popularStocksFloatingHeader");
        var cardsPane = this.GetContentPane("PHYSICAL CARDS", "content5", "cardsHeader", "cardsFloatingHeader");

        IgbSplitPane splitPane1 = new IgbSplitPane()
        {
            PaneType = DockManagerPaneType.SplitPane,
            Orientation = SplitPaneOrientation.Vertical
        };

        IgbTabGroupPane tabGroupPane1 = new IgbTabGroupPane()
        {
            PaneType = DockManagerPaneType.TabGroupPane,
            Size = 200
        };

        IgbTabGroupPane tabGroupPane2 = new IgbTabGroupPane()
        {
            PaneType = DockManagerPaneType.TabGroupPane,
            Size = 300
        };

        tabGroupPane1.Panes.Add(accountPane);
        tabGroupPane1.Panes.Add(cardsPane);
        tabGroupPane1.Panes.Add(transactionsPane);

        tabGroupPane2.Panes.Add(popularStocksPane);
        tabGroupPane2.Panes.Add(topMoversPane);

        splitPane1.Panes.Add(tabGroupPane1);
        splitPane1.Panes.Add(tabGroupPane2);

        IgbDockManagerLayout layout = new IgbDockManagerLayout();
        layout.RootPane = splitPane1;

        return layout;
    }
}
